<link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block" rel="stylesheet">

<div class="form-group">
    <h3>{{ 'userBankAllotmentPage.title' | translate }}</h3>
</div>

<div style="margin-top: 3%">
    <label class="h5"><b>{{ 'userBankAllotmentPage.header' | translate }}</b></label>
</div>
<div class="row">
    <div class="col-md-4">
        <label for="name">{{ 'label.firstName' | translate }}</label>
        <input
            type="text"
            class="form-control mb-2 mr-sm-2"
            id="crew_first_name"
            placeholder="{{ 'txtfld.placeholder.firstName' | translate }}"
            [(ngModel)]="applicant.Name"
            disabled
        />
    </div>
    <div class="col-md-4">
        <label for="name">{{ 'label.middleName' | translate }}</label>
        <input
            type="text"
            class="form-control mb-2 mr-sm-2"
            id="crew_middle_name"
            placeholder="{{ 'txtfld.placeholder.middleName' | translate }}"
            [(ngModel)]="applicant.MiddleName"
            disabled
        />
    </div>
    <div class="col-md-4">
        <label for="name">{{ 'label.lastName' | translate }}</label>
        <input
            type="text"
            class="form-control mb-2 mr-sm-2"
            id="crew_last_name"
            placeholder="{{ 'txtfld.placeholder.lastName' | translate }}"
            [(ngModel)]="applicant.LastName"
            disabled
        />
    </div>
</div>
<div class="row">
    <div class="col">
        <label for="name">{{ 'label.email' | translate }}</label>
        <input
            type="text"
            class="form-control mb-2 mr-sm-2"
            id="crew_login_email"
            placeholder="{{ 'txtfld.placeholder.email' | translate }}"
            [(ngModel)]="applicant.LoginEmail"
            disabled
        />
    </div>
</div>

<div style="margin-top: 3%">
    <label class="h5"><b>{{ 'userBankAllotmentPage.header2' | translate }}</b></label>
</div>
<div class="form-group">
    <label for="formGroupExampleInput">{{ 'label.type' | translate }}</label>
    <select #position class="custom-select mr-sm-2" id="position" 
    [(ngModel)]="details.BeneficiaryType" (ngModelChange)="updateBankAllotmentBeneficiaryType($event)">
        <option>{{ 'selection.option.choose' | translate }}...</option>
        <option
            *ngFor="let type of SelectionBeneficiaryType; let i = index"
            value="{{ type }}">
            {{ type }}
        </option>
    </select>
</div>

<div class="row">
    <div class="col-md-4">
        <label for="name">{{ 'label.firstName' | translate }}</label>
        <input
            type="text"
            class="form-control mb-2 mr-sm-2"
            id="first_name"
            placeholder="{{ 'txtfld.placeholder.firstName' | translate }}"
            [(ngModel)]="details.Name"
            [disabled]="details.BeneficiaryType == 'Own'"
        />
    </div>
    <div class="col-md-4">
        <label for="name">{{ 'label.middleName' | translate }}</label>
        <input
            type="text"
            class="form-control mb-2 mr-sm-2"
            id="middle_name"
            placeholder="{{ 'txtfld.placeholder.middleName' | translate }}"
            [(ngModel)]="details.MiddleName"
            [disabled]="details.BeneficiaryType == 'Own'"
        />
    </div>
    <div class="col-md-4">
        <label for="name">{{ 'label.lastName' | translate }}</label>
        <input
            type="text"
            class="form-control mb-2 mr-sm-2"
            id="last_name"
            placeholder="{{ 'txtfld.placeholder.lastName' | translate }}"
            [(ngModel)]="details.LastName"
            [disabled]="details.BeneficiaryType == 'Own'"
        />
    </div>
</div>

<div class="row" *ngIf="details.BeneficiaryType != 'Own'">
    <div class="col-md-6">
        <label for="formGroupExampleInput">{{ 'label.relationship' | translate }} ({{ 'word.optional' | translate }})</label>
        <select class="custom-select mb-2 mr-sm-2" [(ngModel)]="details.Relationship">
            <option
            *ngFor="
            let relationship of SelectionRelationship;
            let i = index"
            value="{{ relationship.Id }}"
            >
            {{ relationship.Relationship }}
            </option>
        </select>
    </div>
    <div class="col-md-6">
        <label for="contact_number">{{ 'label.contactNumber' | translate }}</label>
        <div class="input-group">
            <!-- <input
                type="text"
                class="form-control mb-2 col-2"
                id="contact_number"
                placeholder="{{ 'txtfld.placeholder.code' | translate }}"
                [(ngModel)]="details.ContactCtryCode"
            /> -->
            <select class="custom-select" [(ngModel)]="details.ContactCtryCode">
                <option selected>{{ 'txtfld.placeholder.countryCode' | translate }}</option>
                <option *ngFor="let phoneCode of SelectionPhoneCode; let i = index" value="{{ phoneCode.phoneCode }}">
                  {{ phoneCode.phoneCode }} - {{ phoneCode.country }}
                </option>
            </select>
            <input
                type="text"
                class="form-control mb-2"
                id="contact_number"
                placeholder="{{ 'txtfld.placeholder.contactNumber' | translate }}"
                [(ngModel)]="details.ContactNumber"
            />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <label for="name">{{ 'label.icPassport' | translate }}</label>
        <select #position class="custom-select my-1 mr-sm-2" id="position" 
        [(ngModel)]="details.IdentityType">
            <option>{{ 'selection.option.choose' | translate }}</option>
            <option
                *ngFor="let type of SelectionIdentityType; let i = index"
                value="{{ type }}">
                {{ type }}
            </option>
        </select>
    </div>
    <div class="col-md-6">
        <label for="name">{{ 'label.icPassportNo' | translate }}</label>
        <input
            type="text"
            class="form-control mb-2 mr-sm-2"
            id="ic_passport_1"
            placeholder="{{ 'txtfld.placeholder.icPassportNo' | translate }}"
            [(ngModel)]="details.Identification"
        />
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <label for="name">{{ 'label.nameOfBank' | translate }}</label>
        <input
            type="text"
            class="form-control mb-2 mr-sm-2"
            id="bank_name"
            placeholder="{{ 'txtfld.placeholder.nameOfBank' | translate }}"
            [(ngModel)]="details.BankName"
        />
    </div>
    <div class="col-md-6">
        <label for="name">{{ 'label.placeOfBank' | translate }}</label>
        <input
            type="text"
            class="form-control mb-2 mr-sm-2"
            id="middle_name"
            placeholder="{{ 'txtfld.placeholder.placeOfBank' | translate }}"
            [(ngModel)]="details.BankPlace"
        />
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <label for="name">{{ 'label.accountNo' | translate }}</label>
        <input
            type="text"
            class="form-control mb-2 mr-sm-2"
            id="bank_acc_number"
            placeholder="{{ 'txtfld.placeholder.accountNo' | translate }}"
            [(ngModel)]="details.BankAccountNum"
        />
    </div>
    <div class="col-md-6">
        <label for="name">{{ 'label.bankSwiftCode' | translate }}</label>
        <input
            type="text"
            class="form-control mb-2 mr-sm-2"
            id="bank_swiss_code"
            placeholder="{{ 'txtfld.placeholder.bankSwiftCode' | translate }}"
            [(ngModel)]="details.BankSwissCode"
        />
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <label for="name">{{ 'label.currency' | translate }}</label>
        <!-- <input
            type="text"
            class="form-control mb-2 mr-sm-2"
            id="currency"
            placeholder="{{ 'txtfld.placeholder.currency' | translate }}"
            [(ngModel)]="details.Currency"
        /> -->
        <select #position class="custom-select my-1 mr-sm-2" id="currency" 
        [(ngModel)]="details.Currency">
            <option>{{ 'selection.option.choose' | translate }}</option>
            <option
                *ngFor="let currency of SelectionCurrency; let i = index"
                value="{{ currency.CurrencyCode }}">
                {{ currency.CurrencyCode }} - {{ currency.CurrencyName }}
            </option>
        </select>
    </div>
</div>

<div style="margin-top: 3%">
    <label class="h5"><b>{{ 'userBankAllotmentPage.header3' | translate }}</b></label>
</div>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
      <tbody>
        <tr>
          <th scope="col">{{ 'userBankAllotmentPage.tblSupportDoc.header1' | translate }}</th>
          <th scope="col">{{ 'userBankAllotmentPage.tblSupportDoc.header2' | translate }}</th>
          <th scope="col">{{ 'userBankAllotmentPage.tblSupportDoc.header3' | translate }}</th>
        </tr>
        <tr *ngFor="let applicant_document of docSupporting; let i=index">
            <ng-container *ngIf="applicant_document.show == true">
                <td scope="col">{{i+1}}</td>
                <td scope="col">{{applicant_document.Document}}</td>
                <td scope="col">
                    <div class="col" *ngIf="!applicant_document.FileName
                        && applicant_document.FileName.length <= 0">
                        <input type="file"
                        (change)="fileChange($event, applicant_document.DocumentID, 'supportingDocument')"
                        placeholder="Upload file"
                        class="form-control-file"
                        accept=".png,.gif,.jpg,.jpeg,.tif,.pdf,.doc,.docx,.xls,.xlsx,.rtf">
                    </div>
                    <div class="col" *ngIf="applicant_document.FileName
                    && applicant_document.FileName.length > 0">
                        <button nbButton
                            type="button"
                            status="info"
                            class="btn btn-info"
                            (click)="viewFile(applicant_document.FileName)">
                            {{ 'btn.view' | translate }}
                        </button>
                        <button nbButton
                            type="button"
                            status="danger"
                            class="btn btn-danger ml-2"
                            (click)="onRemoveFile(applicant_document.DocumentID)">
                            {{ 'btn.removeFile' | translate }}
                        </button>
                    </div>
                    <br/><br/>    
                </td>
            </ng-container>
        </tr>
      </tbody>
    </table>
</div> 

<div class="mt-4">
    <button nbButton status="primary" id="btnAddBankAllotment" id="btnAdd" (click)='openDialog($event)'>{{lblBtnAdd}}</button>
    <button class="ml-2" nbButton status="primary" id="btnCancel" (click)='onCancel($event)' >{{ 'btn.cancel' | translate }}</button>
</div>
