<div class="row">
  <div class="col">
    <label>Crew Email</label>
  </div>
  <div class="col">
    <input
      type="text"
      class="form-control mb-2 mr-sm-2"
      placeholder="Crew email"
      [(ngModel)]="searchCrewEmail"
    />
  </div>
</div>

<div class="row">
  <div class="col">
    <label>Name</label>
  </div>
  <div class="col">
    <input
      type="text"
      class="form-control mb-2 mr-sm-2"
      placeholder="Name"
      [(ngModel)]="searchName"
    />
  </div>
</div>

<div class="row">
  <div class="col">
    <label for="applicant_empId">Emp Id</label>
  </div>
  <div class="col">
    <input
      type="text"
      class="form-control mb-2 mr-sm-2"
      placeholder="Emp Id"
      [(ngModel)]="searchEmpId"
    />
  </div>
</div>

<div class="row">
  <div class="col">
    <label for="">Vessel</label>
  </div>
  <div class="col">
    <select
      class="custom-select mb-2 mr-sm-2"
      id="vessel"
      [(ngModel)]="this.searchVessel"
    >
      <option
        *ngFor="let vessel of vesselList; let i = index"
        value="{{ vessel.VesselName }}"
      >
        {{ vessel.VesselName }}
      </option>
    </select>
  </div>
</div>

<div class="row">
  <div class="col">
    <label for="">Contract Date</label>
  </div>
  <div class="col">
    <div class="row">
      <div class="col">
        <input
          type="date"
          class="form-control mb-2 mr-sm-2"
          id="contract_data_period"
          [(ngModel)]="searchDate"
        />
      </div>
      <p class="text-center">_</p>
      <div class="col">
        <input
          type="date"
          class="form-control mb-2 mr-sm-2"
          id="contract_data_period2"
          [(ngModel)]="searchDate2"
        />
      </div>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="d-flex justify-content-center">
    <button nbButton status="primary" (click)="onSearch($event)">Search</button> 
  </div>
</div>

<div class="form-group">
  <label></label>
  <ng2-smart-table class="table table-responsive" [settings]="settings" [source]="source"></ng2-smart-table>
</div>
  