<div mat-dialog-content>
  <div class="row mb-3">
    <div class="col-md-6" *ngIf="withNRICPassport">
      <label>NRIC/Passport</label>
      <input class="form-control" placeholder="NRIC/Passport" [(ngModel)]="nricpassport">
    </div>
    <div class="col-md-6">
      <label>Password</label>
      <input class="form-control" placeholder="Password" type="password" [(ngModel)]="password">
    </div>
  </div>
</div>
<div mat-dialog-actions class="mb-1">
  <button id="btnCancel" mat-button (click)="onCancel()">{{ 'btn.cancel' | translate }}</button>
  <button id="btnConfirm" mat-button (click)="onConfirm($event)">{{ 'btn.confirm' | translate }}</button>
</div>