<!-- <div class="row">
  <nb-card>
    <nb-card-body>Matrix Template</nb-card-body>
  </nb-card>
</div> -->
<div class="row mb-4">
  <div class="col ">
    <label>Template</label>
  </div>
  <div class="col">
    <select class="custom-select mr-sm-2" id="template" (change)="loadTemplate()" [(value)]="matrixNameSelectedValue">
      <option
        *ngFor="let template of this.matrixTemplates; let i = index"
        [value]=" template.matrixName " [selected]="template.matrixName == matrixNameSelectedValue"
      >
        {{ template.matrixName }}
      </option>
    </select>
  </div>
  <div class="col">
    <button class="ml-2" nbButton status="primary" (click)="editCallBack()">
      Edit
    </button>
    <button class="ml-2" nbButton status="primary" (click)="addNewTemplate()">
      Add Matrix Template
    </button>
  </div>
</div>
<div class="row">
  <div class="col-5">
    <select class="custom-select mb-2 mr-sm-2" style="height: 600px;" id="field_list" multiple>
      <option *ngFor="let field of this.allFields" [attr.item]="field.Item" value="{{ field.ItemDesc }}">
        {{ field.ItemDesc }}
      </option>
    </select>
  </div>
  <div class="col-md-auto my-auto">
    <button
      class="ml-2"
      nbButton
      status="primary"
      (click)="removeFunCallBack()"
      id="leftButton"
      [disabled]="isDisabledLeftButton"
    >
      &lt;&lt;
    </button>
    <button class="ml-2" nbButton status="primary" (click)="addFunCallBack()"  id="rightButton"  [disabled]="isDisabledRightButton">
      &gt;&gt;
    </button>
  </div>
  <div class="col-5">
    <select class="custom-select mb-2 mr-sm-2" style="height: 600px;" id="added_field_list" multiple>
      <option *ngFor="let field of addedFields" [attr.item]="field.Item" value="{{ field.ItemDesc }}">
        {{ field.ItemDesc }}
      </option>
    </select>
  </div>
</div>
<div class="form-group">
  <button class="ml-2" nbButton status="primary" (click)="submitChanges()">
    Submit
  </button>
</div>
