<div class="row">
  <div class="col">
    <label for="userid">User ID</label>
  </div>
  <div class="col">
    <input
      type="text"
      class="form-control mb-2 mr-sm-2"
      placeholder="User ID"
      [(ngModel)]="userId"
    />
  </div>
  <div class="col"></div>
</div>
<div class="row">
  <div class="col">
    <label for="username">User Name</label>
  </div>
  <div class="col">
    <input
      type="text"
      class="form-control mb-2 mr-sm-2"
      placeholder="User Name"
      [(ngModel)]="userName"
    />
  </div>
  <div class="col"></div>
</div>
<div class="row">
  <div class="col">
    <label for="inputFirstname">First Name</label>
  </div>
  <div class="col">
    <input
      type="text"
      class="form-control mb-2 mr-sm-2"
      name="inputFirstname"
      placeholder="First Name"
      [(ngModel)]="firstName"
    />
  </div>
  <div class="col"></div>
</div>
<div class="row">
  <div class="col">
    <label for="inputMiddlename">Middle Name</label>
  </div>
  <div class="col">
    <input
      type="text"
      class="form-control mb-2 mr-sm-2"
      name="inputMiddlename"
      placeholder="Middle Name"
      [(ngModel)]="middleName"
    />
  </div>
  <div class="col"></div>
</div>
<div class="row">
  <div class="col">
    <label for="inputLastname">Last Name</label>
  </div>
  <div class="col">
    <input
      type="text"
      class="form-control mb-2 mr-sm-2"
      name="inputLastname"
      placeholder="Last Name"
      [(ngModel)]="lastName"
    />
  </div>
  <div class="col"></div>
</div>
<div class="row">
  <div class="col">
    <label for="fullname">Password</label>
  </div>
  <div class="col">
    <input
      type="password"
      class="form-control mb-2 mr-sm-2"
      placeholder="Password"
      [(ngModel)]="password"
    />
  </div>
  <div class="col">
    <button nbButton
      status="primary" ngDefaultControl
      *ngIf="!isCreate"
      (click)="onSavePasswordConfirm()">
      Update Password
    </button>
  </div>
</div>
<!-- Added by Hakim on 3 Feb 2021 - End -->
<div class="row mb-3">
  <div class="col-4">
    <label for="signature_file">Upload Signature</label>
  </div>
  <div class="col-3">
    <input
      type="file"
      *ngIf="!signaturePath"
      (change)="signatureChange($event)"
      placeholder="Upload file"
      class="form-control-file"
      accept=".png,.jpg,.jpeg,.tif,.pdf,.doc,.docx,.xls,.xlsx,.rtf"
    />
  </div>
  <div class="col-2" *ngIf="signaturePath && signaturePath.length > 0">
    <button
      type="button"
      class="btn btn-outline-primary border-0"
      (click)="viewSignature()"
    >
      View Signature
    </button>
  </div>
  <div class="col" *ngIf="signaturePath && signaturePath.length > 0">
    <button
      type="button"
      class="btn btn-outline-danger border-0"
      (click)="removeSignature()"
    >
      Remove Signature
    </button>
  </div>
</div>

<div class="row mb-1">
  <div class="col">
    <label>Manager</label>
  </div>
  <div class="col">
    <select class="custom-select mb-2 mr-sm-2" [(ngModel)]="selectedManager">
      <option
        *ngFor="let manager of allManagers"
        value="{{ manager.ManagerId }}"
      >
        {{ manager.ManagerName | titlecase }}
      </option>
    </select>
  </div>
  <div class="col"></div>
</div>

<div class="row mb-3">
  <div class="col-4">
    <label for="signature_file">Upload Manager's Signature</label>
  </div>
  <div class="col-3">
    <input
      type="file"
      *ngIf="!signatureAdminPath"
      (change)="signatureAdminChange($event)"
      placeholder="Upload file"
      class="form-control-file"
      accept=".png,.jpg,.jpeg,.tif,.pdf,.doc,.docx,.xls,.xlsx,.rtf"
    />
  </div>
  <div class="col-2" *ngIf="signatureAdminPath && signatureAdminPath.length > 0">
    <button
      type="button"
      class="btn btn-outline-primary border-0"
      (click)="viewSignatureAdmin()"
    >
      View Manager's Signature
    </button>
  </div>
  <div class="col" *ngIf="signatureAdminPath && signatureAdminPath.length > 0">
    <button
      type="button"
      class="btn btn-outline-danger border-0"
      (click)="removeSignatureAdmin()"
    >
      Remove Manager's Signature
    </button>
  </div>
</div>

<nb-card>
  <nb-card-body>

    <table [nbTreeGrid]="dataSourceTreeGrid" equalColumnsWidth>

      <tr nbTreeGridRow [clickToToggle]="false" *nbTreeGridRowDef="let row; columns: allColumns"></tr>

      <ng-container [nbTreeGridColumnDef]="customColumn">
        <td nbTreeGridCell *nbTreeGridCellDef="let row">

          <nb-tree-grid-row-toggle
            [expanded]="row.expanded"
            *ngIf="row.data.type === 'Module'">
          </nb-tree-grid-row-toggle>
          <span *ngIf="row.data.type === 'Module'">{{row.data.name}}</span>
          <nb-checkbox  *ngIf="row.data.type === 'SubModule'" [checked]="row.data.selected" (checkedChange)="onToggleAccess(row.data)">{{row.data.name}}</nb-checkbox>
        </td>
      </ng-container>

      <ng-container *ngFor="let column of defaultColumns" [nbTreeGridColumnDef]="column">
        <td nbTreeGridCell *nbTreeGridCellDef="let row"><span *ngIf="row.data.type === 'SubModule'">{{row.data[column] ? 'Allowed' : 'Blocked'}}</span></td>
      </ng-container>

    </table>

  </nb-card-body>
</nb-card>

<!-- <div class="row">
  <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>
</div> -->

<div class="row">
  <div class="form-group">
    <div class="d-flex justify-content-center">
      <button
        nbButton
        status="primary"
        (click)="onSaveConfirm($event)"
        *ngIf="!isCreate"
      >
        Save
      </button>
      <button
        nbButton
        status="primary"
        (click)="onCreateConfirm($event)"
        *ngIf="isCreate"
      >
        Create
      </button>
      <button class="ml-2" nbButton status="primary" (click)="onCancel($event)">
        Cancel
      </button>
    </div>
  </div>
</div>
