<div class="row">
  <div class="col">
    <label for="endDate">Start Date</label>
  </div>
  <div class="col"></div>
  <div class="col">
    <input
      class="form-control mb-2 mr-sm-2"
      id="update_date_from"
      [nbDatepicker]="update_date_from"
      [(ngModel)]="startDate"
      placeholder="Pick start date"
      (ngModelChange)="onChangeStartDate()"
    />
    <nb-datepicker format="dd/MM/yyyy" #update_date_from></nb-datepicker>
  </div>
  <div class="col"></div>
</div>

<div class="row">
  <div class="col">
    <label for="endDate">End Date</label>
  </div>
  <div class="col"></div>
  <div class="col">
    <input
      class="form-control mb-2 mr-sm-2"
      id="update_date_to"
      [nbDatepicker]="update_date_to"
      [(ngModel)]="endDate"
      placeholder="Pick end date"
    />
    <!-- <nb-datepicker format="dd/MM/yyyy" [min]="minEndDate" [max]="maxEndDate" #update_date_to></nb-datepicker> -->
    <nb-datepicker format="dd/MM/yyyy" #update_date_to></nb-datepicker>
  </div>
  <div class="col"></div>
</div>

<div class="row">
  <div class="col">
    <label for="">Vessel</label>
  </div>
  <div class="col"></div>
  <div class="col">
    <select #vessel class="custom-select mb-2 mr-sm-2" id="vessel" [(ngModel)]="selectedVessel">
      <option
        *ngFor="let vessel of vessels; let i = index"
        value="{{ vessel.VesselName }}"
      >
        {{ vessel.VesselName }}
      </option>
    </select>
  </div>
  <div class="col"></div>
</div>

<div class="row">
  <div class="col">
    <label for="">Position</label>
  </div>
  <div class="col"></div>
  <div class="col">
    <select #position class="custom-select mb-2 mr-sm-2" id="position" [(ngModel)]="selectedPosition">
      <option
        *ngFor="let position of positions; let i = index"
        value="{{ position.Position }}"
      >
        {{ position.Position }}
      </option>
    </select>
  </div>
  <div class="col"></div>
</div>

<div class="row">
  <div class="col">
    <label for="vesseltimesheetName">Crew</label>
  </div>
  <div class="col"></div>
  <div class="col">
    <input
      class="form-control mb-2 mr-sm-2"
      type="text" [(ngModel)]="name"
    />
  </div>
  <div class="col"></div>
</div>

<div class="form-group">
  <div class="d-flex justify-content-center">
    <button id="btnSearch" nbButton status="primary" (click)="onSearch(position.value, vessel.value)"> 
      Search
    </button>
    <button id="btnExport" class="ml-2" nbButton status="primary" (click)="exportToExcel()">
      Export to Excel
    </button>
  </div>
</div>

<!--<input #search class="search" type="text" placeholder="Search..." (keydown.enter)="onSearch(search.value)">-->

<div class="form-group">
  <label></label>
  <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>
</div>
