
  <h3>Change Password</h3>
  <div class="form-group">
    <label for="current password">Current Password</label>
    <input type="text" class="form-control" id="current_password" placeholder="Password" [(ngModel)]="password"/>
  </div>

  <div class="form-group">
    <label for="new password">New Password</label>
    <input type="text" class="form-control" id="new_password" placeholder="New Password" [(ngModel)]="new_password"/>
  </div>

  <div class="form-group">
    <label for="new password">Re-type New Password</label>
    <input type="text" class="form-control" id="retyped_new_password" placeholder="Re-type Password" [(ngModel)]="retyped_password"/>
  </div>
  <button type="submit" class="btn btn-primary" (click)="changePassword()">Submit</button>

  <br><br>

  <h3>Change Email</h3>
  <div class="form-group">
    <label for="current email">Current Email</label>
    <input type="text" class="form-control" [disabled]="true" id="current_email" placeholder="Email" [(ngModel)]="email"/>
  </div>

  <div class="form-group">
    <label for="new email">New Email</label>
    <input type="text" class="form-control" id="new_email" placeholder="New Email" [(ngModel)]="new_email"/>
  </div>

  <div class="form-group">
    <label for="current account password">Current Password</label>
    <input type="text" class="form-control" id="current_acc_password" placeholder="Current Password Admin" [(ngModel)]="current_acc_password"/>
  </div>

  <button type="submit" class="btn btn-primary" (click)="changeEmail()">Submit</button>

  <br><br>

  <button type="submit" [disabled]="this.activateStatus === '1' || this.username === 'admin'" class="btn btn-primary" (click)="resendActivation()">Resend Activation</button>