<!-- <div class="row">
    <div class="col">
      <label for="applicant_name">Name</label>
    </div>
    <div class="col">
      <input
        #applicant_name
        type="text"
        class="form-control mb-2 mr-sm-2"
        placeholder="Name"
        [(ngModel)]="searchName"
      />
    </div>
  </div>

  <div class="row">
    <div class="col">
      <label for="applicant_empId">Emp Id</label>
    </div>
    <div class="col">
      <input
        type="text"
        class="form-control mb-2 mr-sm-2"
        placeholder="Emp Id"
        [(ngModel)]="searchEmpId"
      />
    </div>
  </div>

  <div class="row">
    <div class="col">
      <label for="">Contract Start Date</label>
    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          <input
            type="date"
            class="form-control mb-2 mr-sm-2"
            id="contract_data_period"
            [(ngModel)]="searchDate"
          />
        </div>
        <p class="text-center">_</p>
        <div class="col">
          <input
            type="date"
            class="form-control mb-2 mr-sm-2"
            id="contract_data_period2"
            [(ngModel)]="searchDate2"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="d-flex justify-content-center">
      <button nbButton status="primary" (click)="onSearch($event)">Search</button> 
    </div>
  </div>
  
  <div class="form-group">
    <label></label>
    <ng2-smart-table class="table table-responsive" [settings]="settings" [source]="source"></ng2-smart-table>
  </div> -->

  <div class="form-group">
    <div class="d-flex justify-content-center">
      <input type="file"
           id="file"
           accept=".xlsx,application/vnd.ms-excel"
           (change)="handleFileInput($event.target.files)">
    </div>
  </div>

  <div class="form-group">
    <div class="d-flex justify-content-center">
      <button nbButton id="btnUpload" status="primary" (click)="uploadExcel()">Upload</button>
      <button class="ml-2" nbButton status="primary" (click)="downloadTemplate()">Download Template</button> 
    </div>
    
  </div>

  <div>
    <h4>Total Record : {{ totalRecord }}</h4>
    <h4>Updated Record : {{ totalRecord - recordNotFound.length }}</h4>
    <h4 *ngIf="recordNotFound.length > 0">Not Found Record List : </h4>
  </div>

  <div *ngIf="recordNotFound.length > 0" class="form-group">
    <label></label>
    <ng2-smart-table class="table table-responsive" [settings]="settings" [source]="recordNotFound"></ng2-smart-table>
  </div>
  