<div class="form-group">
  <div [nbSpinner]="isRefreshingTable" nbSpinnerSize="giant" nbSpinnerStatus="primary">
    <ng2-smart-table class="table table-responsive" [settings]="settings" [source]="source"></ng2-smart-table>
  </div>
</div>

<div class="mx-auto">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li *ngIf="currentPage > 1" class="page-item">
        <a class="page-link"  aria-label="Previous" style="text-decoration: none;" (click)="onClickChangePage(currentPage-1)">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item" *ngFor="let page of prevPagesToSelect">
        <a class="page-link" style="text-decoration: none;" (click)="onClickChangePage(page)">{{ page }}</a>
      </li>
      <li class="page-item active"><a class="page-link" style="text-decoration: none;">{{currentPage}}</a></li>
      <li class="page-item" *ngFor="let page of nextPagesToSelect">
        <a class="page-link" style="text-decoration: none;" (click)="onClickChangePage(page)">{{ page }}</a>
      </li>
      <li *ngIf="currentPage < totalPage" class="page-item">
        <a class="page-link" aria-label="Next" style="text-decoration: none;" (click)="onClickChangePage(currentPage+1)">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
</nav>
</div>