html,
body {
  height: 100%;
  width: 100%;
}

.form-signin-parent {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
//   background-color: black;
}

.form-signin {
  width: 100%;
  // max-width: 80%;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  border-color: rgb(0, 156, 166);
  border-width: 2px;
}
.form-signin .form-control:focus {
  z-index: 2;
  border-color: rgb(0, 156, 166);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(0, 156, 166);
  outline: 0 none;
}

.btn-theme {
    color: rgb(242, 242, 242);
    background-color: rgb(0, 156, 166);
    border: rgb(127, 127, 127);
    font-weight: bold;
    width: 150px;
}

.btn-theme-loading {
  color: rgb(0, 156, 166);
  background-color: rgb(0, 156, 166);
  border: rgb(127, 127, 127);
  font-weight: bold;
  width: 150px;
}

.bg {
    /* The image used */
    background-image: url('/assets/images/skom_photo1.jpg');
    background-color: rgba(0, 0, 0, 1);
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
  color: rgb(64, 64, 64);
  text-shadow: 1px 1px 2px #000000;
}