<nb-layout style="padding: 0;">
  <nb-layout-column style="padding: 0;">
    <head>
      <link
        rel="shortcut icon"
        href="/assets/images/favicon.ico"
        type="image/x-icon"
      />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <!--<link type="text/css" rel="Stylesheet" href="\JobPortal\job\css\job.css" />-->
    </head>

    <body class="row m-0">
      <!-- <div class="col-sm-12 col-md-6 bg d-sm-none d-md-block">
      </div>       -->
      <div class="d-none d-md-block col-md-6 bg">
      </div>

      <div class="col-sm-12 col-md-6" style="background-color: #09445a;" >
        <div class="container form-signin px-md-5">
          <h1 class="display-4 text-white" style="font-weight: 700; font-size: 30px">WELCOME TO SKOM E-CREW ONLINE</h1>
          <h4 class="display-4 text-white" style="font-weight: normal; font-size: 30px">ADMIN</h4>
          <div class="mb-3" style="background-color: #4dbdc9; height: 2px; display: block; max-width: 20%;"></div>

          <!-- Login Admin - Start -->
          <form (ngSubmit)="loginAdmin()">
            <h4 class="text-white" style="font-weight:400; font-size:16px;"><b>LOGIN</b></h4>
            <div class="mb-3" style="background-color: #ffffff; height: 2px;"></div>
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <input nbInput fullWidth  fieldSize="large" class="mb-2" name="txtUserID" id="txtUserID" aria-describedby="emailHelp" placeholder="User ID" [(ngModel)]="username" (ngModelChange)="onChangeTxtfld()" />
                <div class="checkbox text-white mb-3 d-none d-md-block">
                  <label>
                    <input type="checkbox" name="remember-me" [(ngModel)]="isRememberMe"> Remember me
                  </label>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <input nbInput fullWidth  fieldSize="large" type="password" class="mb-2" name="txtPassword" id="txtPassword" placeholder="Password" [(ngModel)]="password" (ngModelChange)="onChangeTxtfld()" />
                <div class="mb-3 text-right d-none d-md-block">
                  <a href="forgot-password" style="color:#4dbdc9">Forgot Password?</a>
                </div>
              </div>
              <!-- Only visible on mobile : Start -->
              <div class="col-sm-12 d-md-none my-2">
                <div class="checkbox text-white">
                  <label>
                    <input type="checkbox" name="remember-me" [(ngModel)]="isRememberMe"> Remember me
                  </label>
                </div>
                <div class="mb-3">
                  <a href="forgot-password" style="color:#4dbdc9">Forgot Password?</a>
                </div>
              </div>
              <!-- Only visible on mobile : End -->
            </div>
            <div class="alert alert-danger" *ngIf="login_error">
              {{login_error}}
            </div>
            <button id="btn_login" type="submit" class="btn btn-theme" [nbSpinner]="isLoadingLogin" nbSpinnerStatus="control">LOGIN</button>
          </form>
          <!-- Login Admin - End -->
        </div>
      </div>
    </body>
  </nb-layout-column>
</nb-layout>
