html,
body {
  height: 100%;
  width: 100%;
}

.form-signin-parent {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
//   background-color: black;
}

.form-signin {
  width: 100%;
  // max-width: 100%;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
  border-color: rgb(0, 156, 166);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(0, 156, 166);
  outline: 0 none;
}

// .form-signin input[type="email"] {
//   margin-bottom: -1px;
//   border-bottom-right-radius: 0;
//   border-bottom-left-radius: 0;
// }
// .form-signin input[type="password"] {
//   margin-bottom: 10px;
//   border-top-left-radius: 0;
//   border-top-right-radius: 0;
// }

.btn-theme {
    color: rgb(242, 242, 242);
    background-color: rgb(0, 156, 166);
    border: rgb(127, 127, 127);
    font-weight: bold;
    width: 150px;
}

.btn-theme-loading {
  color: rgb(0, 156, 166);
  background-color: rgb(0, 156, 166);
  border: rgb(127, 127, 127);
  font-weight: bold;
  width: 150px;
}

.bg {
    /* The image used */
    background-image: url('/assets/images/skom_photo2.png');
    background-color: rgba(0, 0, 0, 1);
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gradRight {
  height: 2px;
  background-color: white; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #09445a, white);
}

.gradLeft {
  height: 2px;
  background-color: white; /* For browsers that do not support gradients */
  background-image: linear-gradient(to left, #09445a, white);
}