<nb-layout style="padding: 0;">
  <nb-layout-column style="padding: 0;">
    <head>
      <link
        rel="shortcut icon"
        href="/assets/images/favicon.ico"
        type="image/x-icon"
      />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <!--<link type="text/css" rel="Stylesheet" href="\JobPortal\job\css\job.css" />-->
    </head>

    <body class="row m-0">
        <div class="d-none d-md-block col-md-6 bg">
        </div>      

        <div class="col-sm-12 col-md-6" style="background-color: #09445a;">
          <div class="text-white float-right"><button type="button" class="btn btn-link" (click)="useLanguage($event)">{{ btnLblLanguage }}</button></div>
          <div class="container form-signin px-md-5">
            <h1 class="display-4 text-white" style="font-weight: 700; font-size: 30px">{{ 'userLoginPage.welcome' | translate }}</h1>
            <h4 class="display-4 text-white" style="font-weight: normal; font-size: 30px" >{{ 'userLoginPage.title' | translate }}</h4>
            <div class="mb-3" style="background-color: #4dbdc9; height: 2px; display: block; max-width: 30%;"></div>
            <p class="text-white">
              {{ 'userLoginPage.text' | translate }}
            </p>
            <br>
            <p class="text-white">
              {{ 'userLoginPage.subtext' | translate }}
            </p>

            <!-- Login - Start -->
            <form (ngSubmit)="loginUser()">
              <h4 class="text-white" style="font-weight:400; font-size:16px;"><b>{{ 'userLoginPage.login' | translate }}</b></h4>
              <div class="mb-3" style="background-color: #ffffff; height: 2px;"></div>
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <input nbInput fullWidth  fieldSize="large" type="email" class="mb-2" name="txtUserID" id="txtUserID" placeholder="{{ 'txtfld.placeholder.email' | translate }}" [(ngModel)]="email" (ngModelChange)="onChangeTxtfld()" />
                  <div class="checkbox text-white mb-3 d-none d-md-block">
                    <label>
                      <input type="checkbox" name="remember-me" [(ngModel)]="isRememberMe"> {{ 'userLoginPage.rememberMe' | translate }}
                    </label>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6">
                  <input nbInput fullWidth  fieldSize="large" type="password" class="mb-2" name="txtPassword" id="txtPassword" placeholder="{{ 'txtfld.placeholder.password' | translate }}" [(ngModel)]="password" (ngModelChange)="onChangeTxtfld()" />
                  <div class="mb-3 text-right d-none d-md-block">
                    <a href="forgot-password" style="color:#4dbdc9">{{ 'userLoginPage.forgotPassword' | translate }}</a>
                  </div>
                </div>
                <!-- Only visible on mobile : Start -->
                <div class="col-sm-12 d-md-none my-2">
                  <div class="checkbox text-white">
                    <label>
                      <input type="checkbox" name="remember-me" [(ngModel)]="isRememberMe"> {{ 'userLoginPage.rememberMe' | translate }}
                    </label>
                  </div>
                  <div class="mb-3">
                    <a href="forgot-password" style="color:#4dbdc9">{{ 'userLoginPage.forgotPassword' | translate }}</a>
                  </div>
                </div>
                <!-- Only visible on mobile : End -->
              </div>
              <div class="alert alert-danger" *ngIf="login_error">
                {{login_error}}
              </div>
              <button id="btn_login" type="submit" class="btn btn-theme" [nbSpinner]="isLoadingLogin" nbSpinnerStatus="control">{{ 'btn.login' | translate }}</button>
            </form>
            <!-- Login - End -->

            <!-- <img src="/assets/images/img-or-divider.png" class="img-fluid mt-2 mb-2" alt="..."> -->
            <div class="row mt-4 mb-4" style="height: 10px;">
              <div class="col"></div>
              <div class="col gradRight align-items-center mt-2"></div>
              <div class="col text-center text-white">{{ 'userLoginPage.or' | translate }}</div>
              <div class="col gradLeft align-items-center mt-2"></div>
              <div class="col"></div>
            </div>

            <!-- Registration - Start -->
            <form (ngSubmit)="registerUser()">
              <h4 class="text-white" style="font-weight:400; font-size:16px;"><b>{{ 'userLoginPage.register' | translate }}</b></h4>
              <div class="mb-3" style="background-color: #ffffff; height: 2px;"></div>
              <div class="row">
                <div class="col mb-3">
                  <input nbInput fullWidth  fieldSize="large" type="email" name="txtRgstEmail" id="txtRgstEmail" placeholder="{{ 'txtfld.placeholder.email' | translate }}" [(ngModel)]="register_email" (ngModelChange)="onChangeTxtfld()" required>
                </div>
                <div class="col-md-6 mb-3">
                  <input nbInput fullWidth  fieldSize="large" type="text" name="txtRgstFullname" id="txtRgstFullname" placeholder="{{ 'txtfld.placeholder.name' | translate }}" [(ngModel)]="register_username" (ngModelChange)="onChangeTxtfld()" required>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <nb-select fullWidth size="large" placeholder="{{ 'label.icPassport' | translate }}" [(selected)]="register_idtype">
                    <nb-option value="IC">{{ 'selection.title.ic' | translate }}</nb-option>
                    <nb-option value="Passport">{{ 'selection.title.passport' | translate }}</nb-option>
                  </nb-select>
                </div>
                <div class="col-md-6 mb-3">
                  <input nbInput fullWidth fieldSize="large"  type="text" name="txtRgstNRICPassport" id="txtRgstNRICPassport" placeholder="{{ 'txtfld.placeholder.icPassportNo' | translate }}" [(ngModel)]="register_idnumber" (ngModelChange)="onChangeTxtfld()" required>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <input nbInput fullWidth  fieldSize="large"  type="password" name="txtRgstPassword" id="txtRgstPassword" placeholder="{{ 'txtfld.placeholder.password' | translate }}" [(ngModel)]="register_password" (ngModelChange)="onChangeTxtfld()" required>
                </div>
                <div class="col-md-6 mb-3">
                  <input nbInput fullWidth  fieldSize="large"  type="password" name="txtRgstConfirmPassword" id="txtRgstConfirmPassword" placeholder="{{ 'txtfld.placeholder.retypePassword' | translate }}" [(ngModel)]="register_retyped_password" (ngModelChange)="onChangeTxtfld()" required>
                </div>
              </div>
              <div class="alert alert-danger" *ngIf="register_error">
                {{register_error}}
              </div>
              <button id="btn_register" type="submit" class="btn btn-theme" [nbSpinner]="isLoadingRegister" nbSpinnerStatus="control">{{ 'btn.register' | translate }}</button>
            </form>
            <!-- Registration - End -->

          </div>
          
          <!-- <div class="container">
            <h1 class="display-4 font-italic text-white">WELCOME TO SKOM e-CREW ONLINE JOB APPLICATION</h1>
            <p class="font-weight-bolder text-white">SKOM is looking for dedicated, skilled and experienced talents with passion in the offshore marine. We offer competitive package, training and new fleet environment which allow you to excel in your career. Submit your application now and be part of the team to deliver possibilities.</p>
            <hr class="my-4">
            <form (ngSubmit)="registerUser()">
              <h1 class="h4 mb-3 font-weight-normal text-white">Register with us</h1>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="firstName">Full name</label>
                  <input type="text" class="form-control" name="txtRgstFullname" id="txtRgstFullname" placeholder="" [(ngModel)]="register_username" required>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="lastName">Email</label>
                  <input type="text" class="form-control" name="txtRgstEmail" id="txtRgstEmail" placeholder="" [(ngModel)]="register_email" required>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="firstName">Password</label>
                  <input type="password" class="form-control" name="txtRgstPassword" id="txtRgstPassword" placeholder="" [(ngModel)]="register_password" required>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="lastName">Confirm password</label>
                  <input type="password" class="form-control" name="txtRgstConfirmPassword" id="txtRgstConfirmPassword" placeholder="" [(ngModel)]="register_retyped_password" required>
                </div>
              </div>
              <div class="alert alert-danger" *ngIf="register_error">
                {{register_error}}
              </div>
              <button type="submit" class="btn btn-theme">REGISTER</button>
            </form>
          </div>
          <form class="pt-5 pb-5 form-signin" (ngSubmit)="loginUser()">
            <img class="" src="/assets/images/SKOM-logo.png" width="100%" />
            <h1 class="h4 mb-4 font-weight-normal">Please sign in</h1>
            <label for="txtUserID" class="sr-only">Email</label>
            <input type="email" class="form-control" name="txtUserID" id="txtUserID" aria-describedby="emailHelp" placeholder="Email Address" [(ngModel)]="email" />
            <label for="txtPassword" class="sr-only">Password</label>
            <input type="password" class="form-control" name="txtPassword" id="txtPassword" placeholder="Password" [(ngModel)]="password" />
            <div class="mb-3">
              <a href="forgot-password" style="color:#000000"><u><i>Forgot Password</i></u></a>
            </div>
            <div class="alert alert-danger" *ngIf="login_error">
              {{login_error}}
            </div>
            <button type="submit" class="btn btn-theme btn-lg btn-block">LOGIN</button>
          </form> -->
        </div>

    </body>
  </nb-layout-column>
</nb-layout>