<div class="row pb-2">
  <div class="col-md">
    <label for="applicant_name">Name</label>
  </div>
  <div class="col-md">
    <input
      #applicant_name
      type="text"
      class="form-control mb-2 mr-sm-2"
      placeholder="Name"
      [(ngModel)]="searchName"
    />
  </div>
  <div class="col-md"></div>
</div>
<div class="row pb-2">
  <div class="col-md">
    <label for="applicant_email">Email</label>
  </div>
  <div class="col-md">
    <input
      #applicant_email
      type="text"
      class="form-control mb-2 mr-sm-2"
      placeholder="Email"
      [(ngModel)]="searchEmail"
    />
  </div>
  <div class="col-md"></div>
</div>

<div class="row pb-2">
  <div class="col-md">
    <label>Position</label>
  </div>
  <div class="col-md">
    <select class="custom-select mb-2 mr-sm-2" [(ngModel)]="searchPosition">
      <option *ngFor="let pos of allPositions" value="{{ pos.Position }}">
        {{ pos.Position }}
      </option>
    </select>
  </div>
  <div class="col-md"></div>
</div>
<div class="form-group">
  <div class="d-flex justify-content-center">
    <button nbButton status="primary" (click)="onSearch($event)">Search</button> 
  </div>
</div>

<div class="form-group">
  <label></label>
  <!-- <ng2-smart-table class="table table-responsive" [settings]="settings" [source]="source"></ng2-smart-table> -->
  <paging-table [value]="{ data: allApplicants, page: { current: currentPage, total: totalPages }}" [isRefreshingTable]="isLoading" [onChangePage]="getDataForPage"></paging-table>
</div>
