<div class="row">
  <div class="col">
    <label for="">Format</label>
  </div>
  <div class="col">
    <select
      class="custom-select mb-2 mr-sm-2"
      [(ngModel)]="selectedFormat"
      id="format"
    >
      <option
        *ngFor="let format of formats; let i = index"
        value="{{ format }}"
      >
        {{ format }}
      </option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col">
    <label for="">Matrix Template</label>
  </div>

  <div class="col">
    <select
      class="custom-select mb-2 mr-sm-2"
      id="matrix_template"
      [(ngModel)]="selectedTemplate"
    >
      <option
        *ngFor="let matrixTemplate of matrixTemplates; let i = index"
        value="{{ matrixTemplate.matrixName }}"
      >
        {{ matrixTemplate.matrixName }}
      </option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col">
    <label for="">Vessel</label>
  </div>
  <div class="col">
    <select
      class="custom-select mb-2 mr-sm-2"
      id="vessel"
      [(ngModel)]="this.vesselName"
    >
      <option
        *ngFor="let vessel of vessels; let i = index"
        value="{{ vessel.VesselName }}"
      >
        {{ vessel.VesselName }}
      </option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col">
    <label for="">Contract Start Date</label>
  </div>

  <div class="col">
    <div class="row">
      <div class="col">
        <input
          type="date"
          class="form-control mb-2 mr-sm-2"
          id="contract_data_period"
          [(ngModel)]="selectedDate"
        />
      </div>
      <p class="text-center">_</p>
      <div class="col">
        <input
          type="date"
          class="form-control mb-2 mr-sm-2"
          id="contract_data_period2"
          [(ngModel)]="selectedDate2"
        />
      </div>
    </div>
  </div>

</div>
<div class="form-group">
  <div class="d-flex justify-content-center">
    <button nbButton status="primary" id="search" (click)="this.alert($event)">
      Search
    </button>

    <button
      class="ml-2"
      nbButton
      status="primary"
      [disabled]="!newTableDetails || newTableDetails.dict.length === 0"
    >
      Print
    </button>

    <button
      class="ml-2"
      nbButton
      status="primary"
      [disabled]="!newTableDetails || newTableDetails.dict.length === 0"
      (click)="this.exportToExcel()"
    >
      Generate Excel
    </button>
  </div>
</div>
<h6
  class="text-center pt-4"
  *ngIf="hasSearch && (!newTableDetails || newTableDetails.dict.length === 0)"
>
  No data found
</h6>
<div class="form-group" *ngIf="selectedFormat === 'Vertical'">
  <div class="table-responsive">
    <table class="table bg-white table-bordered table-hover">
      <tbody>
        <tr *ngFor="let data of newTableDetails.arr2" >
          <ng-container *ngFor="let value of data; let i = index">
            <th *ngIf="i == 0">
              {{ value }}
            </th>
            <td *ngIf="i > 0">
              {{ value }}
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="form-group" *ngIf="selectedFormat === 'Horizontal'">
  <div class="table-responsive">
    <table class="table bg-white table-bordered table-hover">
      <thead>
        <tr>
          <th *ngFor="let header of tableHeader; let i = index">
            {{ header }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of newTableDetails.arr" >
          <td *ngFor="let value of data; let i = index">
            {{ value }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
