
<link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block" rel="stylesheet">

<div class="form-group">
  <h3>{{ 'userApplicationAcceptancePage.title' | translate }}</h3>
</div>
<div class="form-group">
  <table  class="table table-bordered" style="background-color: white;">
    <tbody>
      <tr>
        <th scope="row" style="width: 35%;">Status</th>
        <td scope="col" style="background-color:green; color: white;" *ngIf="isAccepted"><b>Accepted</b></td>
        <td scope="col" style="background-color:red; color: white;" *ngIf="isRejected"><b>Rejected by crew</b></td>
        <td scope="col" style="background-color:red; color: white;" *ngIf="isTerminated"><b>Terminated</b></td>
        <td scope="col" style="background-color:white;" *ngIf="!isAccepted && !isRejected && !isTerminated"><b style="color: grey; opacity: 50%;">Pending for confirmation</b></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="form-group">
  <table  class="table table-bordered" style="background-color: white;">
    <tbody>
      <tr>
        <th scope="row" style="width: 35%;">{{ 'label.name' | translate }}</th>
        <td scope="col">{{ fullname }}</td>
      </tr>
      <tr>
        <th scope="row" style="width: 35%;">{{ 'label.icPassportNo' | translate }}</th>
        <td scope="col" *ngIf="nric && !passport">{{ nric }}</td>
        <td scope="col" *ngIf="!nric && passport">{{ passport }}</td>
        <td scope="col" *ngIf="nric && passport">{{ nric }} / {{ passport }}</td>
      </tr>
      <tr>
        <th scope="row" style="width: 35%;">{{ 'label.position' | translate }}</th>
        <td scope="col">{{ position }}</td>
      </tr>
      <tr>
        <th scope="row" style="width: 35%;">{{ 'label.vessel' | translate }}</th>
        <td scope="col">{{ vessel }}</td>
      </tr>
      <tr>
        <th scope="row" style="width: 35%;">{{ 'label.dateStart' | translate }}</th>
        <td scope="col">{{ startDate }}</td>
      </tr>
      <tr>
        <th scope="row" style="width: 35%;">{{ 'label.dateEnd' | translate }}</th>
        <td scope="col">{{ endDate }}</td>
      </tr>
      <tr>
        <th scope="row" style="width: 35%;">{{ 'label.dailyRate' | translate }}</th>
        <td scope="col">{{ dailyRate }}</td>
      </tr>
      <tr>
        <th scope="row" style="width: 35%;">{{ 'label.allowance' | translate }} {{ allowanceRemark }}</th>
        <td scope="col">{{ allowance }}</td>
      </tr>
      <tr>
        <th scope="row" style="width: 35%;">{{ 'label.allowanceStandby' | translate }} {{ allowanceStandbyRemark }}</th>
        <td scope="col">{{ allowanceStandby }}</td>
      </tr>
      <!-- <tr>
        <th scope="row" style="width: 35%;">{{ 'label.allowanceOther' | translate }} {{ allowanceOtherRemark }}</th>
        <td scope="col">{{ allowanceOther }}</td>
      </tr> -->
    </tbody>
  </table>
</div>

<div class="row" style="margin-bottom: 2%" *ngIf="nric || passport">
  <div class="col text-center" style="margin-top: 2%">
    <!-- <button id="btnDownloadSEA" class="ml-2" nbButton status="primary" (click)="downloadSEA()">{{ 'btn.downloadSEA' | translate }}</button> -->
    <button id="btnViewSEA" class="ml-2" nbButton status="primary" (click)="viewSEA()">{{ 'btn.viewSEA' | translate }}</button>
  </div>
  <ng-container *ngIf="!isAccepted && !isRejected && !isTerminated">
    <div class="col-md-4 text-center" style="margin-top: 2%">
      <button id="btnAccept" [nbSpinner]="isLoading" class="ml-2" nbButton status="primary" (click)="submitAsAccept()">{{ 'btn.accept' | translate }}</button>
    </div>
    <div class="col-md-4 text-center" style="margin-top: 2%">
      <button id="btnReject" [nbSpinner]="isLoading" class="ml-2" nbButton status="danger" (click)="submitAsReject()">{{ 'btn.reject' | translate }}</button>
    </div>
  </ng-container>
</div>
