

<h3>{{ 'userApplicationStatusPage.title' | translate }}</h3>
<br><br><br>
<table width="98%" border="0" cellpadding="0" cellspacing="0" style="text-align: center;">
  <tr style="height:30px">
    <td align="center" width="20%" bgcolor="#4FBEC9"><b>{{ 'userApplicationStatusPage.tblApplication.header1' | translate }}</b></td>
    <td align="center" width="20%" bgcolor="#DDDDDD" class="Header"><b>{{ 'userApplicationStatusPage.tblApplication.header2' | translate }}</b></td>
    <td align="center" width="20%" bgcolor="#DDDDDD" class="Header"><b>{{ 'userApplicationStatusPage.tblApplication.header3' | translate }}</b></td>
    <td align="center" width="20%" bgcolor="#DDDDDD" class="Header"><b>{{ 'userApplicationStatusPage.tblApplication.header4' | translate }}</b></td>
    <td align="center" width="20%" bgcolor="#DDDDDD" class="Header"><b>{{ 'userApplicationStatusPage.tblApplication.header5' | translate }}</b></td>
  </tr>
  <tr *ngFor="let status of allStatus" style="height:40px">
    <td>{{ status.Position }}</td>
    <td>{{ status.DateSubmit }}</td>
    <td>{{ status.DateUpdate }}</td>
    <td>
      {{ status.Status == 'New' ? 'Submitted' : status.Status }}
      <button nbButton ngDefaultControl
      *ngIf="status.SubmitFlag === 'Draft'"
      type="button" status="primary" 
      (click)="navigatePage(status.VacancyID,status.PositionID,status.Id)" id="{{status.VacancyID}}">
      {{ 'btn.update' | translate }}
      </button>
    </td>
    <td>
      {{ status.AcceptFlag }}
      <button nbButton ngDefaultControl
      *ngIf="status.Status != 'New' && status.Status != 'Rejected' && status.Status != 'Draft'"
      type="button" status="primary" 
      (click)="navigatePageAcceptance(status.VacancyID,status.PositionID,status.Id)" id="{{status.VacancyID}}">
        {{ 'btn.view' | translate }}
      </button>
    </td>
  </tr>
</table>

            