/* fix table actions font size */
::ng-deep .nb-theme-default .ng2-smart-actions {
  font-size: 1rem !important;
}

::ng-deep
  .nb-theme-default
  ng2-smart-table
  .ng2-smart-actions
  a.ng2-smart-action {
  font-size: 1rem !important;
  margin-left: 20px;
  margin-right: 20px;
}

::ng-deep .nb-theme-default .ng2-smart-action.ng2-smart-action-add-add {
  font-size: 1rem !important;
}

::ng-deep .nb-theme-default .ng2-smart-action.ng2-smart-action-add-create {
  font-size: 0.75rem !important;
}

::ng-deep .nb-theme-default .ng2-smart-action.ng2-smart-action-add-cancel {
  font-size: 0.75rem !important;
}

::ng-deep .nb-theme-default .ng2-smart-actions .ng2-smart-action-edit-edit {
  font-size: 1rem !important;
}

::ng-deep .nb-theme-default .ng2-smart-actions .ng2-smart-action-delete-delete {
  font-size: 1rem !important;
}

::ng-deep .nb-theme-default .ng2-smart-actions .ng2-smart-action-edit-save {
  font-size: 1rem !important;
}

::ng-deep .nb-theme-default .ng2-smart-actions .ng2-smart-action-edit-cancel {
  font-size: 1rem !important;
}

::ng-deep .nb-theme-dark .ng2-smart-action.ng2-smart-action-add-add {
  font-size: 1rem !important;
}

::ng-deep .nb-theme-dark .ng2-smart-action.ng2-smart-action-add-create {
  font-size: 0.75rem !important;
}

::ng-deep .nb-theme-dark .ng2-smart-action.ng2-smart-action-add-cancel {
  font-size: 0.75rem !important;
}

::ng-deep .nb-theme-dark .ng2-smart-actions .ng2-smart-action-edit-edit {
  font-size: 1rem !important;
}

::ng-deep .nb-theme-dark .ng2-smart-actions .ng2-smart-action-delete-delete {
  font-size: 1rem !important;
}

::ng-deep .nb-theme-dark .ng2-smart-actions .ng2-smart-action-edit-save {
  font-size: 1rem !important;
}

::ng-deep .nb-theme-dark .ng2-smart-actions .ng2-smart-action-edit-cancel {
  font-size: 1rem !important;
}

::ngx-crewjobportal body div.scrollable {
  //margin:4px, 4px;
  padding:4px;
  background-color: white;
  width: 500px;
  height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align:justify;
}

::ng-deep .custom-dialog > mat-dialog-container {
  background-color: #ffffff;
}

::ng-deep .custom-modalbox > mat-dialog-container {
  background-color: white;
  backdrop-filter: blur(4px);
}

input[nbInput]:read-only {
  background-color: #ffffff;
}

.full-screen-modal .mat-dialog-container {
  max-width: none;
}