
  <h3>{{ 'userChangePasswordPage.title' | translate }}</h3>
  <div class="form-group">
    <label for="current password">{{ 'label.currentPassword' | translate }}</label>
    <input type="text" class="form-control" id="current_password" placeholder="{{ 'txtfld.placeholder.currentPassword' | translate }}" [(ngModel)]="password"/>
  </div>

  <div class="form-group">
    <label for="new password">{{ 'label.newPassword' | translate }}</label>
    <input type="text" class="form-control" id="new_password" placeholder="{{ 'txtfld.placeholder.newPassword' | translate }}" [(ngModel)]="new_password"/>
  </div>

  <div class="form-group">
    <label for="new password">{{ 'label.retypeNewPassword' | translate }}</label>
    <input type="text" class="form-control" id="retyped_new_password" placeholder="{{ 'txtfld.placeholder.retypeNewPassword' | translate }}" [(ngModel)]="retyped_password"/>
  </div>
  <button type="submit" class="btn btn-primary" (click)="changePassword()">{{ 'btn.submit' | translate }}</button>

  <br><br>

  <h3>{{ 'userChangePasswordPage.title2' | translate }}</h3>
  <div class="form-group">
    <label for="current email">{{ 'label.currentEmail' | translate }}</label>
    <input type="text" class="form-control" [disabled]="true" id="current_email" placeholder="{{ 'txtfld.placeholder.currentEmail' | translate }}" [(ngModel)]="email"/>
  </div>

  <div class="form-group">
    <label for="new email">{{ 'label.newEmail' | translate }}</label>
    <input type="text" class="form-control" id="new_email" placeholder="{{ 'txtfld.placeholder.newEmail' | translate }}" [(ngModel)]="new_email"/>
  </div>

  <div class="form-group">
    <label for="current account password">{{ 'label.currentPassword' | translate }}</label>
    <input type="text" class="form-control" id="current_acc_password" placeholder="{{ 'txtfld.placeholder.currentPassword' | translate }}" [(ngModel)]="current_acc_password"/>
  </div>

  <button type="submit" class="btn btn-primary" (click)="changeEmail()">{{ 'btn.submit' | translate }}</button>

  <br><br>

  <button type="submit" [disabled]="this.activateStatus === '1'" class="btn btn-primary" (click)="resendActivation()">{{ 'btn.resendActivation' | translate }}</button>