
  <div class="form-group">
    <label for="name">{{ 'label.name' | translate }}</label>
    <input type="text" class="form-control" id="name" placeholder="{{ 'txtfld.placeholder.name' | translate }}" [(ngModel)]="name"/>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">{{ 'label.email' | translate }}</label>
    <input
      type="email"
      class="form-control"
      id="email"
      aria-describedby="emailHelp"
      placeholder="{{ 'txtfld.placeholder.email' | translate }}"
      [(ngModel)]="email"
    />
    <small id="emailHelp" class="form-text text-muted"
      >{{ 'label.emailHelp' | translate }}</small
    >
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">{{ 'label.contactNumber' | translate }}</label>
    <input
      type="text"
      class="form-control"
      id="contactNumber"
      aria-describedby="contactHelp"
      placeholder="{{ 'txtfld.placeholder.contactNumber' | translate }}"
      [(ngModel)]="contactNo"
    />
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">{{ 'label.message' | translate }}</label>
    <textarea
      class="form-control"
      id="message"
      (onkeyup)="fnCountWord();"
      rows="3"
      maxlength="300"
      placeholder="{{ 'txtfld.placeholder.message' | translate }}"
      [(ngModel)]="message"
    ></textarea>
    <div id="lblValue">{{ 'label.msgHelp' | translate }}</div>
  </div>
  <button type="submit" class="btn btn-primary" (click)="submitForm()">{{ 'btn.submit' | translate }}</button>

