<!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block" rel="stylesheet"> -->

<div class="form-group">
  <h3>{{ 'userJobApplicationPage.title' | translate }}</h3>
</div>

<div class="form-group">
  <label for="formGroupExampleInput">{{ 'userJobApplicationPage.appliedPosition' | translate }}</label>
  <select #position class="custom-select my-1 mr-sm-2" id="position" 
  [(ngModel)]="applicantapply.PositionID" (ngModelChange)="onChangeApplyPosition($event)"
  *ngIf="(applicantapply && applicantapply?.PositionID) ? applicantapply.PositionID : defaultPositionID">
    <option>{{ 'selection.option.choose' | translate }}</option>
    <option
      *ngFor="let position of allVacancies; let i = index"
      value="{{ position.PSId }}">
      {{ position.Position }}
    </option>
  </select>
</div>
<!-- <div class="form-group">
  <h3>Personal Data</h3>
</div> -->
<div style="margin-top: 3%">
  <label class="h5">{{ 'userJobApplicationPage.personalData' | translate }}</label>
</div>
<div class="form-group">
  <label for="photo_label">{{ 'label.photo' | translate }}</label>
  <div id="applicant_pic">
    <img alt="Applicant Image" [src]="url"
    *ngIf="applicant && applicant?.FileName || url" id="output"
    style="width:200px; height:250px; bgcolor:'#000000';"/>
  </div> <!--src="assets/UserDoc/{{applicant.FileName}}" -->
  <input type="file" class="form-control-file" id="photo_upload"
  accept="image/*" name="image" id="file" (change)="loadFile($event)" />
  <!--<input
    type="submit"
    name="btnUpload"
    value="Upload"
    id="btnUpload"
    class="BtnUpload"
  />-->
</div>
<div class="row">
  <div class="col-md-4">
    <label for="name">{{ 'label.firstName' | translate }}*</label>
    <input
      type="text"
      class="form-control mb-2 mr-sm-2"
      id="first_name"
      placeholder="{{ 'txtfld.placeholder.firstName' | translate }}"
      [(ngModel)]="applicant.Name"
      nbTooltip="{{ 'label.firstName' | translate }}"
    />
  </div>
  <div class="col-md-4">
    <label for="name">{{ 'label.middleName' | translate }}</label>
    <input
      type="text"
      class="form-control mb-2 mr-sm-2"
      id="middle_name"
      placeholder="{{ 'txtfld.placeholder.middleName' | translate }}"
      [(ngModel)]="applicant.MiddleName"
      nbTooltip="{{ 'label.middleName' | translate }}"
    />
  </div>
  <div class="col-md-4">
    <label for="name">{{ 'label.lastName' | translate }}*</label>
    <input
      type="text"
      class="form-control mb-2 mr-sm-2"
      id="last_name"
      placeholder="{{ 'txtfld.placeholder.lastName' | translate }}"
      [(ngModel)]="applicant.LastName"
      nbTooltip="{{ 'label.lastName' | translate }}"
    />
  </div>
</div>
<div class="form-group">
  <fieldset disabled>
    <label for="name">{{ 'label.email' | translate }}</label>
    <input
      type="text"
      class="form-control mb-2 mr-sm-2"
      id="email"
      placeholder="{{userEmail}}"
      [(ngModel)]="applicant.LoginEmail"/>
  </fieldset>
</div>
<div class="row">
  <div class="col">
    <label for="">{{ 'label.gender' | translate }}*</label>
    <select class="custom-select mb-2 mr-sm-2" id="gender" [(ngModel)]="applicant.Gender">
      <option *ngFor="let gender of genderlist; let i = index" value="{{ gender.Id }}">
        {{ lang == 'my' ? gender.langMY : gender.Gender }}
    </select>
  </div>
  <div class="col">
    <label for="">{{ 'label.countryOrigin' | translate }}*</label>
    <select class="custom-select mb-2 mr-sm-2" id="country_of_origin" [(ngModel)]="applicant.CountryOfOrigin" >
      <option
        *ngFor="let country of countries; let i = index"
        value="{{ country.Country }}"
      >
        {{ country.Country }}
      </option>
    </select>
  </div>
</div>
<div class="form-group">
  <label for="name">{{ 'label.indentificationCard' | translate }}*</label>
  <!-- Updated by Hakim on 19 Jan 2021 - Start -->
  <!-- Add format checking function -->
  <input
    type="text"
    class="form-control mb-2 mr-sm-2"
    id="ic_number"
    placeholder="800212095012"
    [(ngModel)]="applicant.IC"
    (ngModelChange)="icChange($event)"
  />
  <!-- Updated by Hakim on 19 Jan 2021 - End -->
</div>
<div class="row">
  <div class="col">
    <label for="">{{ 'label.passportNo1stRegister' | translate }}*</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="passport" [(ngModel)]="applicant.Passport"/>
  </div>
  <div class="col">
    <label for="Passport_DtIssue">{{ 'label.dateIssue' | translate }}*</label>
    <input nbInput class="form-control mb-2 mr-sm-2"
      name="input_PassportDtIssue"
      placeholder="dd/mm/yyyy"
      (ngModelChange)="applicant.Passport_DtIssue = $event"
      [nbDatepicker]="nbdp_PassportDtIssue" 
      [(ngModel)]="Passport_DtIssue"
      readonly>
    <nb-datepicker format="dd/MM/yyyy" #nbdp_PassportDtIssue
    (dateChange)="dateIssueExpiryCheck('input_PassportDtIssue', applicant.Passport_DtIssue, applicant.Passport_DtExpiry)"></nb-datepicker>
  </div>
  <div class="col">
    <label for="Passport_DtExpiry">{{ 'label.dateExpiry' | translate }}*</label>
    <input nbInput class="form-control mb-2 mr-sm-2"
      name="input_PassportDtExpiry"
      placeholder="dd/mm/yyyy"
      (ngModelChange)="applicant.Passport_DtExpiry = $event"
      [nbDatepicker]="nbdp_PassportDtExpiry" 
      [(ngModel)]="Passport_DtExpiry"
      readonly>
    <nb-datepicker [min]="Passport_DtIssue" format="dd/MM/yyyy" #nbdp_PassportDtExpiry
    (dateChange)="dateIssueExpiryCheck('input_PassportDtExpiry', Passport_DtIssue, Passport_DtExpiry)"></nb-datepicker>
  </div>
</div>
<div class="row">
  <div class="col">
    <label for="">{{ 'label.passportNoRenew' | translate }}</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="passport" [(ngModel)]="applicant.SubsePassport"/>
  </div>
  <div class="col">
    <label for="SubsePassport_DtIssue">{{ 'label.dateIssueSubse' | translate }}</label>
    <input nbInput class="form-control mb-2 mr-sm-2"
      name="input_SubsePassportDtIssue"
      placeholder="dd/mm/yyyy"
      (ngModelChange)="applicant.SubsePassport_DtIssue = $event"
      [nbDatepicker]="nbdp_SubsePassportDtIssue" 
      [(ngModel)]="SubsePassport_DtIssue"
      readonly>
      <nb-datepicker format="dd/MM/yyyy" #nbdp_SubsePassportDtIssue
      (dateChange)="dateIssueExpiryCheck('input_SubsePassportDtIssue', SubsePassport_DtIssue, SubsePassport_DtExpiry)"></nb-datepicker>
  </div>
  <div class="col">
    <label for="SubsePassport_DtExpiry">{{ 'label.dateExpirySubse' | translate }}</label>
    <input nbInput class="form-control mb-2 mr-sm-2"
      name="input_SubsePassportDtExpiry"
      placeholder="dd/mm/yyyy"
      (ngModelChange)="applicant.SubsePassport_DtExpiry = $event"
      [nbDatepicker]="nbdp_SubsePassportDtExpiry" 
      [(ngModel)]="SubsePassport_DtExpiry"
      readonly>
    <nb-datepicker [min]="SubsePassport_DtIssue" format="dd/MM/yyyy" #nbdp_SubsePassportDtExpiry
    (dateChange)="dateIssueExpiryCheck('input_SubsePassportDtExpiry', SubsePassport_DtIssue, SubsePassport_DtExpiry)"></nb-datepicker>
  </div>
</div>
<div class="row">
  <div class="col">
    <label for="">{{ 'label.seamanBookNo' | translate }}*</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="seaman_book" [(ngModel)]="applicant.SeamanBookNo"/>
  </div>
  <div class="col">
    <label for="SeamanBook_DtIssue">{{ 'label.dateIssueSeamanBook' | translate }}*</label>
    <input nbInput class="form-control mb-2 mr-sm-2"
      name="input_SeamanBookDtIssue"
      placeholder="dd/mm/yyyy"
      (ngModelChange)="applicant.SeamanBook_DtIssue = $event"
      [nbDatepicker]="nbdp_SeamanBookDtIssue" 
      [(ngModel)]="SeamanBook_DtIssue"
      readonly>
    <nb-datepicker format="dd/MM/yyyy" #nbdp_SeamanBookDtIssue
    (dateChange)="dateIssueExpiryCheck('input_SeamanBookDtIssue', SeamanBook_DtIssue, SeamanBook_DtExpiry)"></nb-datepicker>
  </div>
  <div class="col">
    <label for="SeamanBook_DtExpiry">{{ 'label.dateExpirySeamanBook' | translate }}</label>
    <input nbInput class="form-control mb-2 mr-sm-2"
      name="input_SeamanBookDtExpiry"
      placeholder="dd/mm/yyyy"
      (ngModelChange)="applicant.SeamanBook_DtExpiry = $event"
      [nbDatepicker]="nbdp_SeamanBookDtExpiry" 
      [(ngModel)]="SeamanBook_DtExpiry"
      readonly>
    <nb-datepicker [min]="SeamanBook_DtIssue" format="dd/MM/yyyy" #nbdp_SeamanBookDtExpiry
    (dateChange)="dateIssueExpiryCheck('input_SeamanBookDtExpiry', SeamanBook_DtIssue, SeamanBook_DtExpiry)"></nb-datepicker>
  </div>
</div>
<div class="row">
  <div class="col">
    <label for="">{{ 'label.seamanCardNo' | translate }}*</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="seaman_card" [(ngModel)]="applicant.SeamanCardNo"/>
  </div>
  <div class="col">
    <label for="Date_SeamanCard_DtIssue">{{ 'label.dateIssueSeamanCard' | translate }}*</label>
    <input nbInput class="form-control mb-2 mr-sm-2"
      name="input_SeamanCardDtIssue"
      placeholder="dd/mm/yyyy"
      (ngModelChange)="applicant.SeamanCard_DtIssue = $event"
      [nbDatepicker]="nbdp_SeamanCardDtIssue" 
      [(ngModel)]="SeamanCard_DtIssue"
      readonly>
    <nb-datepicker format="dd/MM/yyyy" #nbdp_SeamanCardDtIssue
    (dateChange)="dateIssueExpiryCheck('input_SeamanCardDtIssue', SeamanCard_DtIssue, SeamanCard_DtExpiry)"></nb-datepicker>
  </div>
  <div class="col">
    <label for="Date_SeamanCard_DtExpiry">{{ 'label.dateExpirySeamanCard' | translate }}*</label>
    <input nbInput class="form-control mb-2 mr-sm-2"
      name="input_SeamanCardDtExpiry"
      placeholder="dd/mm/yyyy"
      (ngModelChange)="applicant.SeamanCard_DtExpiry = $event"
      [nbDatepicker]="nbdp_SeamanCardDtExpiry" 
      [(ngModel)]="SeamanCard_DtExpiry"
      readonly>
    <nb-datepicker [min]="SeamanCard_DtIssue" format="dd/MM/yyyy" #nbdp_SeamanCardDtExpiry
    (dateChange)="dateIssueExpiryCheck('input_SeamanCardDtExpiry', SeamanCard_DtIssue, SeamanCard_DtExpiry)"></nb-datepicker>
  </div>
</div>
<!-- Added by Hakim on 14 Jan 2021 - End -->

<div class="row">
  <div class="col">
    <label for="endDate">{{ 'label.dateBirth' | translate }}*</label>
    <input nbInput class="form-control mb-2 mr-sm-2"
    placeholder="dd/mm/yyyy"
    (ngModelChange)="applicant.DOB = $event"
      [nbDatepicker]="nbdp_DtBirth" 
      [(ngModel)]="DtBirth"
      readonly>
    <nb-datepicker format="dd/MM/yyyy" #nbdp_DtBirth></nb-datepicker>
  </div>
  <div class="col">
    <label for="">{{ 'label.placeBirth' | translate }}*</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="place_of_birth" [(ngModel)]="applicant.PlaceofBirth" />
  </div>
</div>
<div class="row">
  <div class="col">
    <label for="">{{ 'label.maritalStatus' | translate }}*</label>
    <select class="custom-select mb-2 mr-sm-2" id="marital_status" [(ngModel)]="applicant.MaritalStatus">
      <option
        *ngFor="let status of maritalStatus; let i = index"
        value="{{ status.value }}"
      >
        {{ status.title }}
      </option>
    </select>
  </div>
  <div class="col">
    <label for="nationality">{{ 'label.nationality' | translate }}*</label>
    <select class="custom-select my-1 mr-sm-2" name='nationality' id="nationality" [(ngModel)]="applicant.Nationality">
      <option
        *ngFor="let country of countries; let i = index"
        value="{{ country.Country }}">
        {{ country.Country }}
      </option>
    </select>
  </div>
</div>

<div class="row">
  <div class="col">
    <label for="">{{ 'label.race' | translate }}*</label>
    <select class="custom-select my-1 mr-sm-2" id="race" [(ngModel)]="applicant.Race">
      <option *ngFor="let race of races; let i = index" value="{{ race.Race }}">
        {{ lang == 'my' ? race.langMY : race.Race }}
      </option>
    </select>
  </div>
  <div class="col">
    <label for="">{{ 'label.religion' | translate }}*</label>
    <select class="custom-select my-1 mr-sm-2" id="religion" [(ngModel)]="applicant.Religion">
      <option
        *ngFor="let religion of religions; let i = index"
        value="{{ religion.Religion }}"
      >
        {{ lang == 'my' ? religion.langMY : religion.Religion }}
      </option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col">
    <label for="address">{{ 'label.address1Permanent' | translate }}*</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="permanent_address"
    [(ngModel)]="applicant.PermanentAddress"/>
  </div>
</div>
<div class="row">
  <div class="col">
    <label for="address">{{ 'label.address2Permanent' | translate }}*</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="permanent_address2"
    [(ngModel)]="applicant.PermanentAddress2"/>
  </div>
  <div class="col">
    <label for="address">{{ 'label.address3Permanent' | translate }}*</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="permanent_address3"
    [(ngModel)]="applicant.PermanentAddress3"/>
  </div>
  <div class="col">
    <label for="address">{{ 'label.city' | translate }}*</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="permanent_city"
    [(ngModel)]="applicant.PCity"/>
  </div>
</div>
<div class="row">
  <div class="col">
    <label for="address">{{ 'label.postcode' | translate }}*</label>
    <input
      type="text"
      class="form-control mb-2 mr-sm-2"
      id="permanent_postcode"
      [(ngModel)]="applicant.PPostcode"
    />
  </div>
  <div class="col">
    <label for="">{{ 'label.state' | translate }}</label>
    <select class="custom-select mb-2 mr-sm-2" id="permanent_state" [(ngModel)]="applicant.PState">
      <option *ngFor="let state of states; let i = index" value="{{ state.State }}">
        {{ state.State }}
      </option>
    </select>
  </div>
  <div class="col">
    <label for="">{{ 'label.country' | translate }}*</label>
    <select class="custom-select mb-2 mr-sm-2" id="permanent_country" [(ngModel)]="applicant.PCountry"
    (ngModelChange)="countryChange($event, true)">
      <option *ngFor="let country of countries; let i = index" value="{{ country.Country }}">
      {{ country.Country }}
      </option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col">
    <label for="address">{{ 'label.address1Residential' | translate }}*</label>
  </div>
  <div class="col">
    <nb-checkbox (change)="copyPermanentAddr($event)">{{ 'chkbox.sameAsAbove' | translate }}*</nb-checkbox>
  </div>
  <div class="col"></div>
  <div class="col"></div>
</div>
<div class="form-group">
  <input
    type="text"
    class="form-control mb-2 mr-sm-2"
    id="residential_address"
    [(ngModel)]="applicant.Residentialaddress"
  />
</div>
<div class="row">
  <div class="col">
    <label for="address">{{ 'label.address2Residential' | translate }}*</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="residential_address2"
    [(ngModel)]="applicant.Residentialaddress2"/>
  </div>
  <div class="col">
    <label for="address">{{ 'label.address3Residential' | translate }}*</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="Residential_address3"
    [(ngModel)]="applicant.Residentialaddress3"/>
  </div>
  <div class="col">
    <label for="address">{{ 'label.city' | translate }}*</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="residential_city"
    [(ngModel)]="applicant.RCity"/>
  </div>
</div>
<div class="row">
  <div class="col">
    <label for="address">{{ 'label.postcode' | translate }}*</label>
    <input
      type="text"
      class="form-control mb-2 mr-sm-2"
      id="residential_postcode"
      [(ngModel)]="applicant.RPostcode"
    />
  </div>
  <div class="col">
    <label for="">{{ 'label.state' | translate }}</label>
    <select class="custom-select mb-2 mr-sm-2" id="residential_state" [(ngModel)]="applicant.RState">
      <option *ngFor="let state of states; let i = index" value="{{ state.State }}">
        {{ state.State }}
      </option>
    </select>
  </div>
  <div class="col">
    <label for="">{{ 'label.country' | translate }}*</label>
    <select class="custom-select mb-2 mr-sm-2" id="residential_state" [(ngModel)]="applicant.RCountry">
      <option *ngFor="let country of countries; let i = index" value="{{ country.Country }}"
      (ngModelChange)="countryChange($event, false)">
      {{ country.Country }}
      </option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col">
    <label for="contact">{{ 'label.contactHouse' | translate }}</label>

    <div class="row mb-2">
      <!-- <div class="col">
        <div class="col-lg-8">
          <input
            type="text"
            class="form-control"
            id="country_code"
            placeholder="{{ 'txtfld.placeholder.countryCode' | translate }}"
            [(ngModel)]="applicant.Contact_HouseCtryCode"
          />
        </div>
      </div>
      <div class="col">
        <input
          type="text"
          class="form-control mb-2 mr-sm-2"
          id="contact_home"
          placeholder="{{ 'txtfld.placeholder.phoneNumber' | translate }}"
          [(ngModel)]="applicant.Contact_House"
        />
      </div> -->
      <div class="col">
        <div class="input-group">
            <select class="custom-select" [(ngModel)]="applicant.Contact_HouseCtryCode">
              <option selected>{{ 'txtfld.placeholder.countryCode' | translate }}</option>
              <option *ngFor="let phoneCode of countriesPhoneCode; let i = index" value="{{ phoneCode.phoneCode }}">
                {{ phoneCode.phoneCode }} - {{ phoneCode.country }}
              </option>
            </select>
          <div class="input-group-append">
            <input id="contact_home" type="text" class="form-control" aria-label="Home phone number" placeholder="{{ 'txtfld.placeholder.phoneNumber' | translate }}" [(ngModel)]="applicant.Contact_House">
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="col">
    <label for="contact">{{ 'label.contactMobile' | translate }}*</label>

    <div class="row mb-2">
      <!-- <div class="col">
        <div class="col-lg-8">
          <input
            type="text"
            class="form-control"
            id="country_code"
            placeholder="{{ 'txtfld.placeholder.countryCode' | translate }}"
            [(ngModel)]="applicant.Contact_MobileCtryCode"
          />
        </div>
      </div>
      <div class="col">
        <input
          type="text"
          class="form-control mb-2 mr-sm-2"
          id="contact_mobile"
          placeholder="{{ 'txtfld.placeholder.phoneNumber' | translate }}"
          [(ngModel)]="applicant.Contact_Mobile"
        />
      </div> -->
      <div class="col">
        <div class="input-group">
            <select class="custom-select" [(ngModel)]="applicant.Contact_MobileCtryCode">
              <option selected>{{ 'txtfld.placeholder.countryCode' | translate }}</option>
              <option *ngFor="let phoneCode of countriesPhoneCode; let i = index" value="{{ phoneCode.phoneCode }}">
                {{ phoneCode.phoneCode }} - {{ phoneCode.country }}
              </option>
            </select>
          <div class="input-group-append">
            <input id="contact_mobile" type="text" class="form-control" aria-label="Home phone number" placeholder="{{ 'txtfld.placeholder.phoneNumber' | translate }}" [(ngModel)]="applicant.Contact_Mobile">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col"></div>
</div>
<!-- Comment by Hakim on 26 Jan 2021 - Start -->
<!-- <div class="form-group">
  <label for="repatriation port">Repatriation Home Port</label>
  <input type="text" class="form-control mb-2 mr-sm-2" id="repatriation_port" [(ngModel)]="applicant.RepatriationHomePort" />
</div> -->
<!-- Comment by Hakim on 26 Jan 2021 - End -->
<div class="form-group">
  <label for="education">{{ 'label.lvlHighEducation' | translate }}</label>
  <select class="custom-select my-1 mr-sm-2" id="education" [(ngModel)]="applicant.Education">
    <option *ngFor="let education of educations; let i = index" value="{{ education.Id }}">
      {{ lang == 'my' ? education.langMY : education.Education }}
    </option>
  </select>
  <div class="form-group" *ngIf="applicant.EducationFileName">
    <button nbButton ngDefaultControl *ngIf="applicant.EducationFileName
    && applicant.EducationFileName.length > 0"
    [ngModel]="applicant.EducationFileName"
    type="button"
    status="info"
    (click)="viewFile(applicant.EducationFileName)">{{ 'btn.view' | translate }}</button>
    {{applicant.EducationFileName}}
  </div>
  <input type="file" class="form-control-file" id="education_file"
  (change)="fileChange($event, 0, 'education')"
  placeholder="Upload file"
  class="form-control-file"
  accept=".png,.gif,.jpg,.jpeg,.tif,.pdf,.doc,.docx,.xls,.xlsx,.rtf"/>
</div>

<div style="margin-top: 3%">
  <label class="h5"><b>{{ 'label.incomeTaxNo' | translate }}</b></label>
</div>
<div class="form-group">
  <input
    type="text"
    class="form-control mb-2 mr-sm-2"
    id="income_tax_number"
    placeholder="Income Tax No."
    [(ngModel)]="applicant.IncomeTaxNo"
  />
</div>

<div style="margin-top: 3%">
  <label class="h5">{{ 'userJobApplicationPage.nextOfKin' | translate }}</label>
</div>
<div class="form-group" id="tbl_NOK">
  <ng2-smart-table [settings]="smarttbl_NOK" [source]="applicant.next_of_kin"
  (deleteConfirm)="onDeleteConfirmNOK($event)"
  (editConfirm)="onSaveConfirmNOK($event)"
  (createConfirm)="onCreateConfirmNOK($event)"></ng2-smart-table>
</div>

<!-- Added by Hakim on 12 Jan 2021 - Start -->
<!-- Update for changes no. 6 in Application For Employment (0106 NC Comment_11012021.docx) -->
<div style="margin-top: 3%">
  <label class="h5">{{ 'userJobApplicationPage.beneficiary' | translate }}</label>
  <br/>
  {{ 'userJobApplicationPage.subtxtBeneficiary' | translate }}<br/>
  <br/>
</div>
<div class="form-group" >
  <div class="row">
  <div class="col">
    <label for="name">{{ 'label.firstName' | translate }}</label>
    <input
      type="text"
      class="form-control mb-2 mr-sm-2"
      id="EmergencyContactName"
      placeholder="{{ 'txtfld.placeholder.firstName' | translate }}"
      [(ngModel)]="applicant.EmergencyContactName"
    />
  </div>
  <div class="col">
    <label for="name">{{ 'label.middleName' | translate }}</label>
    <input
      type="text"
      class="form-control mb-2 mr-sm-2"
      id="EmergencyContactMiddleName"
      placeholder="{{ 'txtfld.placeholder.middleName' | translate }}"
      [(ngModel)]="applicant.EmergencyContactMiddleName"
    />
  </div>
  <div class="col">
    <label for="name">{{ 'label.lastName' | translate }}</label>
    <input
      type="text"
      class="form-control mb-2 mr-sm-2"
      id="EmergencyContactLastName"
      placeholder="{{ 'txtfld.placeholder.lastName' | translate }}"
      [(ngModel)]="applicant.EmergencyContactLastName"
    />
  </div>
</div>
<div class="row">
  <div class="col">
    <label for="">{{ 'label.relationship' | translate }}</label>
    <select class="custom-select mb-2 mr-sm-2" id="EmergencyContactRelationship" [(ngModel)]="applicant.EmergencyContactRelationship">
      <option
        *ngFor="
        let relationship of relationships;
        let i = index
        "
        value="{{ relationship.Id }}"
      >
        {{ lang == 'my' ? relationship.langMY : relationship.Relationship }}
      </option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col">
    <label for="address">{{ 'label.address1Permanent' | translate }}</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="EmergencyContact_Address"
    [(ngModel)]="applicant.EmergencyContact_Address"/>
  </div>
</div>
<div class="row">
  <div class="col">
    <label for="address">{{ 'label.address2Permanent' | translate }}</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="EmergencyContact_Address2"
    [(ngModel)]="applicant.EmergencyContact_Address2"/>
  </div>
  <div class="col">
    <label for="address">{{ 'label.address3Permanent' | translate }}</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="EmergencyContact_Address3"
    [(ngModel)]="applicant.EmergencyContact_Address3"/>
  </div>
  <!-- Added by Hakim on 14 Jan 2021 - Start -->
  <div class="col">
    <label for="address">{{ 'label.city' | translate }}</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="EmergencyContact_City"
    [(ngModel)]="applicant.EmergencyContact_City"/>
  </div>
  <!-- Added by Hakim on 14 Jan 2021 - End -->
</div>
<div class="row">
  <div class="col">
    <label for="address">{{ 'label.postcode' | translate }}</label>
    <input
      type="text"
      class="form-control mb-2 mr-sm-2"
      id="EmergencyContact_Postcode"
      [(ngModel)]="applicant.EmergencyContact_Postcode"
    />
  </div>
  <div class="col">
    <label for="">{{ 'label.state' | translate }}</label>
    <select class="custom-select mb-2 mr-sm-2" id="EmergencyContact_State" [(ngModel)]="applicant.EmergencyContact_State">
      <option *ngFor="let state of states; let i = index" value="{{ state.State }}">
        {{ state.State }}
      </option>
    </select>
  </div>
  <div class="col">
    <label for="">{{ 'label.country' | translate }}</label>
    <select class="custom-select mb-2 mr-sm-2" id="EmergencyContact_Country" [(ngModel)]="applicant.EmergencyContact_Country"
    (ngModelChange)="countryChange($event, true)">
      <option *ngFor="let country of countries; let i = index" value="{{ country.Country }}">
      {{ country.Country }}
      </option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col">
    <label for="contact">{{ 'label.contactHouse' | translate }}</label>

    <!-- <div class="row">
      <div class="col">
        <div class="col-lg-8">
          <input
            type="text"
            class="form-control"
            id="country_code"
            placeholder="{{ 'txtfld.placeholder.countryCode' | translate }}"
            [(ngModel)]="applicant.EmergencyContact_HouseCtryCode"
          />
        </div>
      </div>
      <div class="col">
        <input
          type="text"
          class="form-control mb-2 mr-sm-2"
          id="contact_home"
          placeholder="{{ 'txtfld.placeholder.phoneNumber' | translate }}"
          [(ngModel)]="applicant.EmergencyContact_House"
        />
      </div>
    </div> -->
    <div class="input-group">
      <select class="custom-select" [(ngModel)]="applicant.EmergencyContact_HouseCtryCode">
        <option selected>{{ 'txtfld.placeholder.countryCode' | translate }}</option>
        <option *ngFor="let phoneCode of countriesPhoneCode; let i = index" value="{{ phoneCode.phoneCode }}">
          {{ phoneCode.phoneCode }} - {{ phoneCode.country }}
        </option>
      </select>
    <div class="input-group-append">
      <input type="text" class="form-control" aria-label="Emergency contact home phone number" placeholder="{{ 'txtfld.placeholder.phoneNumber' | translate }}" [(ngModel)]="applicant.EmergencyContact_House">
    </div>
  </div>
  </div>
  <div class="col">
    <label for="contact">{{ 'label.contactMobile' | translate }}</label>

    <!-- <div class="row">
      <div class="col">
        <div class="col-lg-8">
          <input
            type="text"
            class="form-control"
            id="country_code"
            placeholder="{{ 'txtfld.placeholder.countryCode' | translate }}"
            [(ngModel)]="applicant.EmergencyContact_MobileCtryCode"
          />
        </div>
      </div>
      <div class="col">
        <input
          type="text"
          class="form-control mb-2 mr-sm-2"
          id="contact_mobile"
          placeholder="{{ 'txtfld.placeholder.phoneNumber' | translate }}"
          [(ngModel)]="applicant.EmergencyContact_Mobile"
        />
      </div>
    </div> -->
    <div class="input-group">
      <select class="custom-select" [(ngModel)]="applicant.EmergencyContact_MobileCtryCode">
        <option selected>{{ 'txtfld.placeholder.countryCode' | translate }}</option>
        <option *ngFor="let phoneCode of countriesPhoneCode; let i = index" value="{{ phoneCode.phoneCode }}">
          {{ phoneCode.phoneCode }} - {{ phoneCode.country }}
        </option>
      </select>
    <div class="input-group-append">
      <input type="text" class="form-control" aria-label="Emergency contact mobile phone number" placeholder="{{ 'txtfld.placeholder.phoneNumber' | translate }}" [(ngModel)]="applicant.EmergencyContact_Mobile">
    </div>
  </div>
  <div class="col"></div>
  </div>
  <div class="col-md">

  </div>
</div>
<!-- Added by Hakim on 12 Jan 2021 - End -->

<div style="margin-top: 3%">
  <label class="h5"><b>{{ 'label.cv' | translate }}</b></label>
</div>
<div class="form-group" *ngIf="applicant.FileNameCV">
  <button nbButton ngDefaultControl *ngIf="applicant.FileNameCV && applicant.FileNameCV.length > 0"
  [ngModel]="applicant.FileNameCV"
  type="button"
  status="info"
  (click)="viewFile(applicant.FileNameCV)">{{ 'btn.view' | translate }}</button>
  {{applicant.FileNameCV}}
  <br/>
</div>
<div class="form-group">
  <input type="file" class="form-control-file" id="cv_file"
    (change)="fileChange($event, 0, 'cv')"
    placeholder="Upload file"
    class="form-control-file"
    accept=".png,.gif,.jpg,.jpeg,.tif,.pdf,.doc,.docx,.xls,.xlsx,.rtf"/>
</div>

<div style="margin-top: 3%">
  <label class="h5"><b>{{ 'label.bankAllotment' | translate }}</b></label>
</div>
<select disabled class="custom-select my-1 mr-sm-2" id="bankallotment" [(ngModel)]="applicant.BankAllotmentID">
  <option *ngFor="let bankAllotment of bankAllotmentList; let i = index" value="{{ bankAllotment.Id }}">
    {{ bankAllotment.Name }}, {{ bankAllotment.BankName }}, {{ bankAllotment.BankAccount }}
  </option>
</select>

<!-- Added by Hakim on 26 Jan 2021 -->
<!-- Update for changes no. 17 in Application For Employment (SKOM 210122.docx) -->
<div style="margin-top: 3%">
  <label class="h5"><b>{{ 'userJobApplicationPage.expSEA' | translate }}</b></label>
</div>
<div class="form-group">
  <ng2-smart-table [settings]="smarttbl_SEAExp" [source]="applicant.SEAExp"
  (deleteConfirm)="onDeleteConfirmSEAExp($event)"
  (editConfirm)="onSaveConfirmSEAExp($event)"
  (createConfirm)="onCreateConfirmSEAExp($event)"></ng2-smart-table>
</div>
<!-- Added by Hakim on 26 Jan 2021 -->

<div style="margin-top: 3%">
  <label class="h5"><b>{{ 'userJobApplicationPage.certQualification' | translate }}</b></label>
</div>
<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <tbody>
      <tr>
        <th scope="col">{{ 'userJobApplicationPage.tblCertQualification.header1' | translate }}</th>
        <th scope="col">{{ 'userJobApplicationPage.tblCertQualification.header2' | translate }}</th>
        <th scope="col">{{ 'userJobApplicationPage.tblCertQualification.header3' | translate }}</th>
        <th scope="col">{{ 'userJobApplicationPage.tblCertQualification.header4' | translate }}</th>
        <th scope="col">{{ 'userJobApplicationPage.tblCertQualification.header5' | translate }}</th>
        <th scope="col">{{ 'userJobApplicationPage.tblCertQualification.header6' | translate }}</th>
        <th scope="col">{{ 'userJobApplicationPage.tblCertQualification.header7' | translate }}</th>
        <th scope="col">{{ 'userJobApplicationPage.tblCertQualification.header8' | translate }}</th>
        <th scope="col">{{ 'userJobApplicationPage.tblCertQualification.header9' | translate }}</th>
      </tr>
      <tr *ngFor="let applicant_document of applicant.applicant_documents; let i=index">
        <ng-container *ngIf="applicant_document.Chk == 'Y'">
          <td scope="col">{{i+1}}</td>
          <td scope="col" *ngIf="applicant_document.Chk == 'Y'">{{applicant_document.Document}}</td>
          <td scope="col">
            <select class="custom-select mb-2 mr-sm-2" id="competency"
            *ngIf="applicant_document.TypeCompetencyChk == 'Y'"
            [(ngModel)]="applicant_document.Competency">
              <option *ngFor="let type of certTypeList; let i = index" value="{{ type.value }}">
                {{ type.value }}
              </option>
            </select>
          </td>
          <td scope="col">
            <input class="form-control mb-2 mr-sm-2" type="text"
            *ngIf="applicant_document.DocNo == 'Y'"
            [(ngModel)]="applicant_document.ApplicantDocNo">
          </td>
          <td scope="col">
            <select class="custom-select mb-2 mr-sm-2" id="grade" *ngIf="applicant_document.GradeChk == 'Y'"
            [(ngModel)]="applicant_document.Grade">
              <option *ngFor="let grade of certGradeList; let i = index" value="{{ grade.value }}">
                {{ grade.value }}
              </option>
            </select>
          </td>
          <td scope="col">
            <select class="custom-select mb-2 mr-sm-2" id="issuingauthority"
            *ngIf="applicant_document.IssuingAuthorityChk == 'Y'"
            [(ngModel)]="applicant_document.IssuingAuthority">
              <option *ngFor="let ia of issuingAuthority; let i = index" value="{{ ia.Id }}">
                {{ ia.Name }}
              </option>
            </select>
          </td>
          <td scope="col">
            <input class="form-control mb-2 mr-sm-2" type="date"
            *ngIf="applicant_document.DtIssue == 'Y'"
            [ngModel]="applicant_document.ApplicantDocDtIssue | date:'yyyy-MM-dd'"
            (ngModelChange)="applicant_document.ApplicantDocDtIssue = $event">
          </td>
          <td scope="col">
            <input class="form-control mb-2 mr-sm-2" type="date"
            [ngModel]="applicant_document.ApplicantDocDtExpiry | date:'yyyy-MM-dd'"
            *ngIf="applicant_document.DtExpiry == 'Y'"
            (ngModelChange)="applicant_document.ApplicantDocDtExpiry = $event">
          </td>
          <td scope="col">
            <ng-container *ngIf="applicant_document.DocFile == 'Y'">
              <div class="col">
                <button nbButton ngDefaultControl *ngIf="applicant_document.ApplicantDocFileName
                && applicant_document.ApplicantDocFileName.length > 0"
                status="info"
                [ngModel]="applicant_document.ApplicantDocFileName"
                (click)="viewFile(applicant_document.ApplicantDocFileName)">View</button>
                <br/>
                <input type="file"
                (change)="fileChange($event, applicant_document.DocumentID, 'document')"
                placeholder="Upload file"
                class="form-control-file"
                accept=".png,.gif,.jpg,.jpeg,.tif,.pdf,.doc,.docx,.xls,.xlsx,.rtf">
              </div>
              <br/>
              <div class="col" *ngIf="applicant_document.ApplicantDocFileName
                && applicant_document.ApplicantDocFileName.length > 0">
                <button
                  type="button"
                  class="btn btn-danger border-0"
                  (click)="onRemoveFile(applicant_document.Id, 'document')"
                >
                {{ 'btn.removeFile' | translate }}
                </button>
              </div>
              <br/><br/>
  
              <div class="col" *ngIf="applicant_document.DocumentID == 19">
                <label><b>{{ 'label.charterer' | translate }}</b></label><br/>
                <button nbButton ngDefaultControl
                  *ngIf="!charterer_dropdown_shown && !applicant_document.Charterer"
                  (click)="addCharterer($event, 19)">{{ 'btn.chartererAdd' | translate }}</button>
              </div>
  
              <div class="col" *ngIf="applicant_document.DocumentID == 20">
                <label><b>{{ 'label.charterer' | translate }}</b></label><br/>
                <button nbButton ngDefaultControl
                  *ngIf="!charterer_dropdown_shown2 && !applicant_document.Charterer"
                  (click)="addCharterer($event, 20)">{{ 'btn.chartererAdd' | translate }}</button>
              </div>
  
              <div class="col" *ngIf="applicant_document.DocumentID == 19">
                <select class="custom-select my-1 mr-sm-2" id="charterer"
                  *ngIf="charterer_dropdown_shown || applicant_document.Charterer"
                  [(ngModel)]="applicant_document.Charterer">
                  <option *ngFor="let charterer of charterers; let i = index" value="{{ charterer.Id }}">
                    {{ charterer.Charterer }}
                  </option>
                </select>
                <input class="form-control mb-2 mr-sm-2" type="text"
                  *ngIf="charterer_dropdown_shown || applicant_document.Charterer"
                  [(ngModel)]="applicant_document.ChartererOthers" placeholder="Others">
              </div>
  
              <div class="col" *ngIf="applicant_document.DocumentID == 20">
                <select class="custom-select my-1 mr-sm-2" id="charterer"
                  *ngIf="charterer_dropdown_shown2 || applicant_document.Charterer"
                  [(ngModel)]="applicant_document.Charterer">
                  <option *ngFor="let charterer of charterers; let i = index" value="{{ charterer.Id }}">
                    {{ charterer.Charterer }}
                  </option>
                </select>
                <input class="form-control mb-2 mr-sm-2" type="text"
                  *ngIf="charterer_dropdown_shown2 || applicant_document.Charterer"
                  [(ngModel)]="applicant_document.ChartererOthers" placeholder="Others">
              </div>
              <br/><br/>
  
              <div class="col" *ngIf="(applicant_document.DocumentID == 19 || applicant_document.DocumentID == 20)">
                <label><b>{{ 'label.certDynamicPosType' | translate }}</b></label><br/>
                <select class="custom-select my-1 mr-sm-2" id="dynamic_position_cert"
                  [(ngModel)]="applicant_document.DynamicPositionCertType">
                  <option *ngFor="let cert of dynamicPosCertType; let i = index" value="{{ cert.Id }}">
                    {{ cert.DynamicPos }}
                  </option>
                </select>
                <input nbButton ngDefaultControl type="file" name="btnUploadCert"
                value="Upload" id="btnUploadCert"
                (change)="fileChange($event, applicant_document.DocumentID, 'dynamic_position_cert')"
                placeholder="Upload file"
                class="form-control-file"
                accept=".png,.gif,.jpg,.jpeg,.tif,.pdf,.doc,.docx,.xls,.xlsx,.rtf"/>
              </div>
            </ng-container>
          </td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</div> 

<div style="margin-top: 3%">
  <label class="h5"><b>{{ 'userJobApplicationPage.medicalCheckupReport' | translate }}</b></label>
</div>
<div class="form-group">
  <table
    id="Table1"
    class="table"
    style="border-collapse: collapse; border-color: #aaaaaa">
    <thead>
      <tr>
        <th>{{ 'userJobApplicationPage.tblMedicalCheckupReport.header1' | translate }}</th>
        <th>{{ 'userJobApplicationPage.tblMedicalCheckupReport.header2' | translate }}</th>
      </tr>
    </thead>
    <tfoot>
      <tr *ngFor="let question of medicalReportQuestion; let i = index">
        <ng-container *ngIf="question.Type == 1">
          <td scope="col" *ngIf="question.Question">{{ lang == 'my' ? question.langMY : question.Question }}
          <br/><br/>
          <textarea class="form-control mb-2 mr-sm-2" *ngIf="question.TxtBox == 'Y'"
            placeholder="{{ 'txtfld.placeholder.briefDescription' | translate }}" [(ngModel)]="medicalReportAnswer[question.Id-1].Description"></textarea>

          <div class="row">
            <div class="col" *ngIf="question.CheckupDt == 'Y'">
              <label for="">{{ 'label.dateCheckup' | translate }}</label>
              <input class="form-control mb-2 mr-sm-2" type="date"
              [ngModel]="medicalReportAnswer[question.Id-1].AnsCheckupDt | date:'yyyy-MM-dd'"
              (ngModelChange)="medicalReportAnswer[question.Id-1].AnsCheckupDt = $event">
            </div>
            <div class="col" *ngIf="question.ExpiryDt == 'Y'">
              <label for="">{{ 'label.dateExpiry' | translate }}</label>
              <input class="form-control mb-2 mr-sm-2" type="date"
              [ngModel]="medicalReportAnswer[question.Id-1].AnsExpiryDt | date:'yyyy-MM-dd'"
              (ngModelChange)="medicalReportAnswer[question.Id-1].AnsExpiryDt = $event"
              (change)="dateIssueExpiryCheck($event, medicalReportAnswer[question.Id-1].AnsCheckupDt, medicalReportAnswer[question.Id-1].AnsExpiryDt)">
            </div>
          </div>

          </td>
          <td scope="col">
            <select class="custom-select my-1 mr-sm-2" id="english_understanding" *ngIf="question.YesNo == 'Y'"
            [(ngModel)]="medicalReportAnswer[question.Id-1].Answer">
              <option *ngFor="let selectyesno of yesno" value="{{ selectyesno.value }}">
                {{ selectyesno.title }}
              </option>
            </select>
            <input type="file" 
              placeholder="Upload file"
              class="form-control-file"
              accept=".png,.gif,.jpg,.jpeg,.tif,.pdf,.doc,.docx,.xls,.xlsx,.rtf">
          </td>
        </ng-container>
      </tr>
    </tfoot>
  </table>
</div>

<div style="margin-top: 3%">
  <label class="h5"><b>{{ 'userJobApplicationPage.medicalHistory' | translate }}</b></label>
  <br/>
  {{ 'userJobApplicationPage.subtxtMedicalHistory' | translate }}<br/>
  {{ 'userJobApplicationPage.subtxt2MedicalHistory' | translate }}<br/>
  {{ 'userJobApplicationPage.subtxt3MedicalHistory' | translate }}<br/>
  <br/>
</div>
<div class="form-group">
  <table
    id="Table1"
    class="table"
    style="border-collapse: collapse; border-color: #aaaaaa">
    <thead>
      <tr>
        <th>{{ 'userJobApplicationPage.tblMedicalHistory.header1' | translate }}</th>
        <th>{{ 'userJobApplicationPage.tblMedicalHistory.header2' | translate }}</th>
      </tr>
    </thead>
    <tfoot>
      <tr *ngFor="let question of generalQuestion; let i = index">
        <ng-container *ngIf="question.Type == 2">
          <td scope="col" *ngIf="question.Question">{{ lang == 'my' ? question.langMY : question.Question }}
          <br/>
          <textarea class="form-control mb-2 mr-sm-2" *ngIf="question.TxtBox == 'Y'"
            placeholder="{{ 'txtfld.placeholder.briefDescription' | translate }}" [(ngModel)]="generalAnswer[question.Id-1].Description"></textarea>
          </td>
          <td scope="col">
            <select class="custom-select my-1 mr-sm-2" id="english_understanding" *ngIf="question.YesNo == 'Y'"
            [(ngModel)]="generalAnswer[question.Id-1].Answer">
              <option *ngFor="let selectyesno of yesno" value="{{ selectyesno.value }}">
                {{ selectyesno.title }}
              </option>
            </select>
          </td>
        </ng-container>
      </tr>
    </tfoot>
  </table>
</div>

<div style="margin-top: 3%">
  <label class="h5"><b>{{ 'userJobApplicationPage.general' | translate }}</b></label>
</div>
<div>
  <table
    id="Table1"
    class="table"
    style="border-collapse: collapse; border-color: #aaaaaa"
  >
    <thead>
      <tr>
        <th>{{ 'userJobApplicationPage.tblGeneral.header1' | translate }}</th>
        <th>{{ 'userJobApplicationPage.tblGeneral.header2' | translate }}</th>
      </tr>
    </thead>
    <tfoot>
      <tr *ngFor="let question of generalQuestion; let i = index">
        <ng-container *ngIf="question.Type == 1">
          <td scope="col" *ngIf="question.Question">{{ lang == 'my' ? question.langMY : question.Question }}
            <textarea class="form-control mb-2 mr-sm-2" *ngIf="question.TxtBox == 'Y' && generalAnswer[question.Id-1].Answer == 'Y'"
              placeholder="{{ 'txtfld.placeholder.briefDescription' | translate }}" [(ngModel)]="generalAnswer[question.Id-1].Description"></textarea>
            <input type="file" *ngIf="question.FileNeeded == 'Y' && generalAnswer[question.Id-1].Answer == 'Y'">
          </td>
          <td scope="col">
            <select class="custom-select my-1 mr-sm-2" id="english_understanding" *ngIf="question.YesNo == 'Y'"
            [(ngModel)]="generalAnswer[question.Id-1].Answer">
              <option *ngFor="let selectyesno of yesno" value="{{ selectyesno.value }}">
                {{ selectyesno.title }}
              </option>
            </select>
            <select class="custom-select my-1 mr-sm-2" id="rating_understanding" *ngIf="question.Rating == 'Y'"
            [(ngModel)]="generalAnswer[question.Id-1].Answer">
              <option *ngFor="let selectrating of rating" value="{{ selectrating.value }}">
                {{ selectrating.title }}
              </option>
            </select>
          </td>
        </ng-container>
      </tr>
    </tfoot>
  </table>
</div>

<div style="margin-top: 3%">
  <label class="h5"><b>{{ 'userJobApplicationPage.referances' | translate }}</b></label>
</div>
<div>
  <table
    id="Table1"
    class="table"
    style="border-collapse: collapse; border-color: #aaaaaa"
  >
    <thead>
      <tr>
        <th>{{ 'userJobApplicationPage.tblReferences.header1' | translate }}</th>
        <th>{{ 'userJobApplicationPage.tblReferences.header2' | translate }}</th>
        <th>{{ 'userJobApplicationPage.tblReferences.header3' | translate }}</th>
        <th>{{ 'userJobApplicationPage.tblReferences.header4' | translate }}</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td scope="col">
          <input class="form-control mb-2 mr-sm-2" type="text"
          [(ngModel)]="applicant.Ref1Name"
          placeholder="{{ 'txtfld.placeholder.name' | translate }} 1"></td>
        <td scope="col">
          <input class="form-control mb-2 mr-sm-2" type="text"
            [(ngModel)]="applicant.Ref1Company"
            placeholder="{{ 'txtfld.placeholder.company' | translate }} 1">
        </td>
        <td scope="col">
          <input class="form-control mb-2 mr-sm-2" type="text"
            [(ngModel)]="applicant.Ref1Designation"
            placeholder="{{ 'txtfld.placeholder.designation' | translate }} 1">
        </td>
        <td scope="col">
          <input class="form-control mb-2 mr-sm-2" type="text"
          [(ngModel)]="applicant.Ref1Contact"
          placeholder="{{ 'txtfld.placeholder.contact' | translate }} 1">
        </td>
      </tr>
      <tr>
        <td scope="col">
          <input class="form-control mb-2 mr-sm-2" type="text"
          [(ngModel)]="applicant.Ref2Name"
          placeholder="{{ 'txtfld.placeholder.name' | translate }} 2">
        </td>
        <td scope="col">
          <input class="form-control mb-2 mr-sm-2" type="text"
            [(ngModel)]="applicant.Ref2Company"
            placeholder="{{ 'txtfld.placeholder.company' | translate }} 2">
        </td>
        <td scope="col">
          <input class="form-control mb-2 mr-sm-2" type="text"
            [(ngModel)]="applicant.Ref2Designation"
            placeholder="{{ 'txtfld.placeholder.designation' | translate }} 2">
        </td>
        <td scope="col">
          <input class="form-control mb-2 mr-sm-2" type="text"
          [(ngModel)]="applicant.Ref2Contact"
          placeholder="{{ 'txtfld.placeholder.contact' | translate }} 2">
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<div style="margin-top: 3%">
  <label><b>{{ 'userJobApplicationPage.infoDeclaration' | translate }}</b></label>
</div>
<div class="row">
  <div class="col">
    <div class="col-lg-8">
      <label><b>{{ 'label.name' | translate }}</b></label>
      <input
        type="text"
        class="form-control mb-2 mr-sm-2"
        placeholder="Name"
        [(ngModel)]="applicant.SignatureName"
      />
      <label><b>{{ 'label.icPassportNo' | translate }}</b></label>
      <input
        type="text"
        class="form-control mb-2 mr-sm-2"
        placeholder="NRIC/Passport"
        [(ngModel)]="applicant.SignatureIcPassport"
      />
      <label><b>{{ 'label.date' | translate }}</b></label>
      <input class="form-control mb-2 mr-sm-2" type="date"
      [ngModel]="applicant.SignatureDate | date:'yyyy-MM-dd'"
      (ngModelChange)="applicant.SignatureDate = $event" disabled>
    </div>
  </div>
  <div class="col"></div>
  <div class="col"></div>
</div>
<!---	Signature is Name, NRIC/Passport & Date-->

<!--
<div class="row" style="margin: auto; width: 50%; ">
<div class="scrollable" style="padding:4px; background-color: white; width: 500px; height: 250px; overflow-x: hidden; overflow-y: auto; text-align:justify;">
  &nbsp; &nbsp; I hereby agree that all the particulars given in this Application for Employment Form are true
  and complete to the best of my knowledge. By submitting this Application for Employment Form, I hereby give my consent
  pursuant to Section 6 (1) of the Personal Data Protection Act 2010 (hereinafter referred to as “the ACT”) that
  the Company (SKOM Sdn Bhd) may collect, obtain, store and process my personal data provided in this Application
  for Employment Form for the purpose of employment, receiving updates, news, or materials from the Company and
  disclose my personal data to the relevant governmental authorities or third parties where required by law or for
  legal purposes. I authorize the Company to make such investigations and inquiries of my personal data and other
  relevant matters as may be necessary in arriving at an employment decision; and may be transferred to any company
  within the Company’s parent companies and subsidiaries. For the purpose of updating or correcting such data, I may
  at any time apply to the Company to have access to my personal data which are stored by the Company. For the avoidance
  of doubt, personal data includes all data defined within the Personal Data Protection Act 2010 including all data I had
  disclosed to the Company in this Application for Employment Form.
</div>
</div>

<div class="row"style="margin: auto; width: 50%; ">
  <div class="col">
    <nb-checkbox [(ngModel)]="applicant.PDPAChk">I hereby declare that the above is true</nb-checkbox>
  </div>
</div>-->
<br/><br/>
<div class="form-group">
  <table>
    <tr>
      <td></td>
      <td>
        <!--<button class="ml-2" nbButton status="primary" id="btnSaveAsDraft" (click)='onSaveAsDraft($event)'>Save as Draft</button>-->
        <button class="ml-2" nbButton status="primary" id="btnSaveAsDraft" (click)='openDialog($event, false)'>{{ 'btn.saveAsDraft' | translate }}</button>
      </td>
      <td>&nbsp;&nbsp;&nbsp;</td>
      <td>
        <!--<button class="ml-2" nbButton status="primary" id="btnSubmit" (click)='onSubmit($event)'>Submit</button>-->
        <button class="ml-2" nbButton status="primary" id="btnSubmit" (click)='openDialog($event, true)'>{{ 'btn.confirmSubmit' | translate }}</button>
      </td>
    </tr>
  </table>
</div>
