<table width="1100px" border="0" cellpadding="0" cellspacing="0" align="center">
  <tr>
      <td colspan="3">
          <img src="/assets/images/logo.png"><br><br>
      </td>
  <tr>
      <td height="2px" width="5%" bgcolor="#000000"></td>
      <td height="2px" width="1%" bgcolor="#FFFFFF"></td>
      <td height="2px" width="94%" bgcolor="#4FBEC9"></td>
  </tr>
  <tr>
    <td colspan="3" ><br />
      <table border="0" width="98%" >
        <tr>
          <td>{{ 'userDashboardPage.greeting' | translate:{'name':username} }}</td>
          <td align="right">
            <a href="/pages/applicant_jobportal/change-password">{{ 'btn.changePassword' | translate }}</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="/pages/applicant_jobportal/contact-us">{{ 'btn.contactUs' | translate }}</a>&nbsp;&nbsp;|&nbsp;&nbsp;
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
      <td colspan="3">
<br /><br />
<br>
<h3>{{ 'userDashboardPage.header' | translate }}</h3>

<br>
{{ 'userDashboardPage.subheader' | translate }}
<br><br>
<table width="98%" border="0" cellpadding="0" cellspacing="0" style="text-align: center;">
  <tr style="height:30px">
    <td align="center" width="25%" bgcolor="#4FBEC9"><b>{{ 'userDashboardPage.tblVacancy.header1' | translate }}</b></td>
    <td align="center" width="25%" bgcolor="#4FBEC9"><b>{{ 'userDashboardPage.tblVacancy.header2' | translate }}</b></td>
    <td align="center" width="25%" bgcolor="#4FBEC9"><b>{{ 'userDashboardPage.tblVacancy.header3' | translate }}</b></td>
    <td align="center" width="25%" bgcolor="#DDDDDD" class="Header"><b>{{ 'userDashboardPage.tblVacancy.header4' | translate }}</b></td>
    <!--<td align="center" width="33%" bgcolor="#DDDDDD" class="Header"><a href="ApplicationStatus.aspx"><b>Application Status</b></a></td>-->
  </tr>
  <tr *ngFor="let dashboardapplicant of allVacancies" style="height:40px">
    <td>{{ dashboardapplicant.Position }}</td>
    <td>{{ dashboardapplicant.Vessel }}</td>
    <td>{{ dashboardapplicant.DateEnd | date:"dd/MM/yyyy" }}</td>
    <button nbButton ngDefaultControl
      type="button" status="primary" 
      (click)="navigatePage(dashboardapplicant.Id,dashboardapplicant.PSId)" id="{{dashboardapplicant.Id}}">
      {{ 'btn.apply' | translate }}
    </button>
  </tr>
</table>
