<div class="row">
  <nb-card>
    <nb-card-body>Welcome to <b>SKOM e-CREW ADMIN JOB PORTAL ONLINE EMPLOYMENT</b> site.</nb-card-body>
  </nb-card>
</div>

  <h2>
  Settings
  </h2>
  <br/>
  <nb-card>
    <nb-card-body><a href="/pages/settings/change-password">Change Password</a></nb-card-body>
  </nb-card>
