<table width="1100px" border="0" cellpadding="0" cellspacing="0" align="center">
  <tr>
    <td colspan="3"><img src="/assets/images/logo.png" /><br /><br /></td>
  </tr>

  <tr>
    <td height="2px" width="5%" bgcolor="#000000"></td>
    <td height="2px" width="1%" bgcolor="#FFFFFF"></td>
    <td height="2px" width="94%" bgcolor="#4FBEC9"></td>
  </tr>
  <tr>
    <td colspan="3">
      <br />
      <table border="0" width="98%">
        <tr>
          <td>Welcomes {{ username }}</td>
          <td align="right">
            <a href="/pages/change-password">Change Password</a
            >&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="/pages/jobportal/contact-us">Contact Us</a
            >&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="/auth/logout">Log Out</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <br /><br />
      <table
        width="98%"
        border="0"
        cellpadding="0"
        cellspacing="0"
        class="text_blue_medium_bold"
      >
        <tr style="height: 30px">
          <td align="center" width="50%" bgcolor="#4FBEC9">
            <b>Open Vacancy</b>
          </td>
          <td align="center" width="50%" bgcolor="#DDDDDD" class="Header">
            <a href="/pages/jobportal/crew_job_portal"
              ><b>Application For Employment</b></a
            >
          </td>
          <!--<td align="center" width="33%" bgcolor="#DDDDDD" class="Header"><a href="ApplicationStatus.aspx"><b>Application Status</b></a></td>-->
        </tr>
      </table>

      <br />
      <h3>WELCOME TO SKOM e-CREW JOB PORTAL ONLINE EMPLOYMENT APPLICATION</h3>

      <br />
      SKOM is looking for dedicated, skilled and experienced talents with
      passion in the offshore marine. We offer competitive package, training and
      new fleet environment which allow you to excel in your career. Submit your
      application now and be part of the team to deliver possibilities!<br /><br />
    </td>
  </tr>
</table>
