<h1 mat-dialog-title>Confirmation</h1>
<p style="font-size: 12px;">
  Saya dengan ini mengakui bahawa dengan e-tandatangan saya di sini,
  saya memahami sepenuhnya dan menerima terma dan syarat perjanjian (SEA).<br>
  I hereby acknowledge that by submitting my e-signature here, I am declaring that
  I fully understand and accept to the terms and conditions of the agreement (SEA).<br>
</p>
<div mat-dialog-content style="border: solid" id="dialogContent">
  <div class="signature-pad" style="margin-left: -20px; margin-right: -20px">
    <div #sPadContainer class="signature-pad--body">
      <canvas #sPad width="{{sPadWidth}}" height="{{sPadHeight}}" style="touch-action: none;"></canvas>
    </div>
  </div>
</div>
<div class="row pt-3">
  <div class="col-4 text-center mb-3">
    <button mat-button style="background-color:white" (click)="onClear()">{{ 'btn.clear' | translate }}</button>
  </div>
  <div class="col-4 text-center mb-3">
    <button mat-button (click)="onConfirm()">{{ 'btn.confirm' | translate }}</button>
  </div>
  <div class="col-4 text-center mb-3">
    <button mat-button (click)="onCancel()">{{ 'btn.cancel' | translate }}</button>
  </div>  
</div>

<!-- New -->

<!-- <nb-reveal-card id="cardReveal">
  <nb-card-front>
    <nb-card>
      <nb-card-header>Declaration</nb-card-header>
      <nb-card-body id="cardDeclaration" style="height: 500;">
        Saya dengan ini mengakui bahawa dengan e-tandatangan saya di sini,<br>
        saya memahami sepenuhnya dan menerima terma dan syarat perjanjian (SEA).<br>
        I hereby acknowledge that by submitting my e-signature here, I am declaring that<br>
        I fully understand and accept to the terms and conditions of the agreement (SEA).<br>
      </nb-card-body>

      <nb-card-footer>Your Signature</nb-card-footer>
    </nb-card>
  </nb-card-front>
  <nb-card-back>
    <nb-card>
      <nb-card-header>Your Signature</nb-card-header>
      <nb-card-body class="p-0">
        <div class="signature-pad">
          <div #sPadContainer class="signature-pad--body">
            <canvas #sPad width="{{sPadWidth}}" height="{{sPadHeight}}" style="touch-action: none;"></canvas>
          </div>
        </div>
      </nb-card-body>

      <nb-card-footer>Declaration</nb-card-footer>
    </nb-card>
  </nb-card-back>
</nb-reveal-card>
<div class="row pt-3">
  <div class="col-md-4 text-center">
    <button mat-button style="background-color:white" (click)="onClear()">{{ 'btn.clear' | translate }}</button>
  </div>
  <div class="col-md-4 text-center">
    <button mat-button (click)="onConfirm()">{{ 'btn.confirm' | translate }}</button>
  </div>
  <div class="col-md-4 text-center">
    <button mat-button (click)="onCancel()">{{ 'btn.cancel' | translate }}</button>
  </div>  
</div> -->

<!-- New 2 -->

<!-- <nb-accordion style="margin-left: -24px; margin-right: -24px">
  <nb-accordion-item expanded>
    <nb-accordion-item-header>
      Declaration
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      Saya dengan ini mengakui bahawa dengan e-tandatangan saya di sini,<br>
      saya memahami sepenuhnya dan menerima terma dan syarat perjanjian (SEA).<br>
      I hereby acknowledge that by submitting my e-signature here, I am declaring that<br>
      I fully understand and accept to the terms and conditions of the agreement (SEA).<br>
    </nb-accordion-item-body>
  </nb-accordion-item>

  <nb-accordion-item>
    <nb-accordion-item-header>
      Your Signature
    </nb-accordion-item-header>
    <nb-accordion-item-body class="backgroundGrey">
      <div class="signature-pad" style="background-color: white; margin: -20px">
        <div #sPadContainer class="signature-pad--body">
          <canvas #sPad width="{{sPadWidth}}" height="{{sPadHeight}}" style="touch-action: none;"></canvas>
        </div>
      </div>
    </nb-accordion-item-body>
  </nb-accordion-item>

</nb-accordion>

<div class="row pt-3">
  <div class="col-4 text-center mb-3">
    <button mat-button style="background-color:white" (click)="onClear()">{{ 'btn.clear' | translate }}</button>
  </div>
  <div class="col-4 text-center mb-3">
    <button mat-button (click)="onConfirm()">{{ 'btn.confirm' | translate }}</button>
  </div>
  <div class="col-4 text-center mb-3">
    <button mat-button (click)="onCancel()">{{ 'btn.cancel' | translate }}</button>
  </div>  
</div> -->
