<div class="form-group">
    <h3>{{ 'userBankAllotmentListPage.title' | translate }}</h3>
    <button nbButton status="primary" (click)="onAddBankAllotment($event)">
        {{ 'btn.add' | translate }}
    </button>
</div>

<div class="form-group">
    <ng2-smart-table [settings]="sttgSmrtTbl" [source]="bankAllotmentList"></ng2-smart-table>
</div>
  