<div class="row">
  <div class="col">
    <label for="applicantName">Applicant Name</label>
  </div>
  <div class="col"></div>
  <div class="col">
    <input
      class="form-control mb-2 mr-sm-2"
      type="text" [(ngModel)]="name"
    />
  </div>
  <div class="col"></div>
</div>
<div class="row">
  <div class="col">
    <label for="">Status</label>
  </div>
  <div class="col"></div>
  <div class="col">
    <select class="custom-select mb-2 mr-sm-2" id="status" [(ngModel)]="status">
      <option
        *ngFor="let status of applicantStatus; let i = index"
        value="{{ status.ApplicantStatus }}">
        {{ status.ApplicantStatus }}
      </option>
    </select>
  </div>
  <div class="col"></div>
</div>

<div class="row">
  <div class="col">
    <label for="endDate">Profile Updated Date From</label>
  </div>
  <div class="col"></div>
  <div class="col">
    <input
      class="form-control mb-2 mr-sm-2"
      id="update_date_from"
      [nbDatepicker]="update_date_from"
    />
    <nb-datepicker format="dd/MM/yyyy" #update_date_from></nb-datepicker>
  </div>
  <div class="col"></div>
</div>
<div class="row">
  <div class="col">
    <label for="endDate">Profile Updated Date To</label>
  </div>
  <div class="col"></div>
  <div class="col">
    <input
      class="form-control mb-2 mr-sm-2"
      id="update_date_to"
      [nbDatepicker]="update_date_to"
    />
    <nb-datepicker format="dd/MM/yyyy" #update_date_to></nb-datepicker>
  </div>
  <div class="col"></div>
</div>
<div class="row">
  <div class="col">
    <label for="">Position</label>
  </div>
  <div class="col"></div>
  <div class="col">
    <select #position class="custom-select mb-2 mr-sm-2" id="position">
      <option
        *ngFor="let position of positions; let i = index"
        value="{{ position.Id }}"
      >
        {{ position.Position }}
      </option>
    </select>
  </div>
  <div class="col"></div>
</div>
<div class="form-group">
  <div class="d-flex justify-content-center">
    <button nbButton status="primary" (click)="onSearch(position.value)"> 
      Search
    </button>
    <button class="ml-2" nbButton status="primary" (click)="exportToExcel()">
      Export to Excel
    </button>
  </div>
</div>

<!--<input #search class="search" type="text" placeholder="Search..." (keydown.enter)="onSearch(search.value)">-->

<div class="form-group">
  <label></label>
  <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>
</div>
