<div class="form-group">
  <label><b>Applicant Detail</b></label>
</div>
<div class="form-group">
  <table class="table table-bordered" style="background-color: white;">
    <tbody>
      <tr>
        <th scope="row" style="width: 35%;">Position</th>
        <th scope="row">{{applicant.ApplyPosition}}</th>
      </tr>
      <tr>
        <th scope="row">Apply Date</th>
        <th scope="row">{{applicant.ApplyDtApplication | date : "dd/MM/yyy"}}</th>
      </tr>
    </tbody>
  </table>
</div>
<div class="form-group" style="margin-top: 5%">
  <label><b>Personal Data</b></label>
</div>
<div class="form-group">
  <table class="table table-bordered" style="background-color: white;">
    <tbody>
      <tr>
        <th scope="row" style="width: 35%;"></th>
        <th scope="row">
          <img class="applicant_pic" src="assets/UserDoc/{{applicant.FileName}}" alt="Applicant Image" ngDefaultControl
          *ngIf="applicant && applicant?.FileName" style="width:200px; height:250px; bgcolor:'#000000';"/>
          <!--<img src="assets/images/applicant.png" alt="Applicant Image" />-->
        </th>
      </tr>
      <tr>
        <th scope="row">Name</th>
        <th scope="col">{{applicant.Name}}</th>
      </tr>
      <tr>
        <th scope="row" style="width: 35%;">Middle Name</th>
        <th scope="col">{{applicant.MiddleName}}</th>
      </tr>
      <tr>
        <th scope="row" style="width: 35%;">Last Name</th>
        <th scope="col">{{applicant.LastName}}</th>
      </tr>
      <tr>
        <th scope="row" style="width: 35%;">Login Email</th>
        <th scope="col">{{applicant.LoginEmail}}</th>
      </tr>
    </tbody>
  </table>
</div>
<div class="form-group" style="margin-top: 5%">
  <label><b>Document</b></label>
</div>
<div class="form-group">
  <table class="table table-bordered table-responsive" style="background-color: white;">
    <tbody>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Certificate/Qualification title</th>
        <th scope="col">Certificate No</th>
        <th scope="col">Grade</th>
        <th scope="col">Issuing Authority</th>
        <th scope="col">Date of Issue</th>
        <th scope="col">Date of Expiry</th>
        <th scope="col">Type</th>
        <th scope="col">File</th>
      </tr>
      <tr *ngFor="let applicant_document of applicant.applicant_documents; let i=index">
        <td scope="col">{{i+1}}</td>
        <td scope="col" *ngIf="applicant_document.Chk == 'Y'">{{applicant_document.Document}}</td>
        <td scope="col"><input class="form-control mb-2 mr-sm-2" type="text"
          *ngIf="applicant_document.DocNo == 'Y'"
          [(ngModel)]="applicant_document.ApplicantDocNo"></td>
        <td scope="col"><input class="form-control mb-2 mr-sm-2" type="text"
          *ngIf="applicant_document.DocNo == 'Y'"
          [(ngModel)]="applicant_document.Grade"></td>
        <td scope="col">
          <select class="custom-select mb-2 mr-sm-2" id="issuingauthority"
          *ngIf="applicant_document.DocNo == 'Y'"
          [(ngModel)]="applicant_document.IssuingAuthority">
            <option *ngFor="let ia of issuingAuthority; let i = index" value="{{ ia.Id }}">
              {{ ia.Name }}
            </option>
          </select>
        </td>
        <td scope="col"><input class="form-control mb-2 mr-sm-2" type="date"
          *ngIf="applicant_document.DtIssue == 'Y'"
          [ngModel]="applicant_document.ApplicantDocDtIssue | date:'yyyy-MM-dd'"
          (ngModelChange)="applicant_document.ApplicantDocDtIssue = $event"></td>
        <td scope="col"><input class="form-control mb-2 mr-sm-2" type="date"
          [ngModel]="applicant_document.ApplicantDocDtExpiry | date:'yyyy-MM-dd'"
          *ngIf="applicant_document.DtExpiry == 'Y'"
          (ngModelChange)="applicant_document.ApplicantDocDtExpiry = $event"></td>
        <td scope="col"><input class="form-control mb-2 mr-sm-2" type="text" 
          *ngIf="applicant_document.DocType == 'Y'" 
          [(ngModel)]="applicant_document.ApplicantDocType"></td>
        <td scope="col">
          <button nbButton ngDefaultControl *ngIf="applicant_document.ApplicantDocFileName
          && applicant_document.ApplicantDocFileName.length > 0"
          [ngModel]="applicant_document.ApplicantDocFileName"
          (click)="viewFile(applicant_document.ApplicantDocFileName)">View</button>
          <!--<input type="file" *ngIf="applicant_document.DocFile == 'Y'">
          <a href="./assets/UserDoc/{{applicant_document.ApplicantDocFileName}}" download><button *ngIf="applicant_document.DocFile == 'Y'" >View</button></a></td>-->
      </tr>
    </tbody>
  </table>
</div>
<div class="form-group" style="margin-top: 5%">
  <label><b>Other Details</b></label>
</div>
<div class="form-group">
  <table class="table table-bordered" style="background-color: white;">
    <tbody>
      <tr>
        <th scope="row" style="width: 35%;">Gender</th>
        <th scope="col">{{applicant.GenderName}}</th>
      </tr>
      <tr>
        <th scope="row" style="width: 35%;">Identification Card No. (Malaysian Only)</th>
        <th scope="col">{{applicant.IC}}</th>
      </tr>
      <tr>
        <th scope="row" style="width: 35%;">Date of Birth</th>
        <th scope="col">{{applicant.DOB | date : "dd/MM/yyy"}}</th>
      </tr>
      <tr>
        <th scope="row" style="width: 35%;">Passport No.</th>
        <th scope="col">{{applicant.Passport}}</th>
      </tr>
      <tr>
        <th scope="row" style="width: 35%;">Passport Date of Issue</th>
        <th scope="col">{{applicant.Passport_DtIssue | date : "dd/MM/yyy"}}</th>
      </tr>
      <tr>
        <th scope="row" style="width: 35%;">Passport Date of Expiry</th>
        <th scope="col">{{applicant.Passport_DtExpiry | date : "dd/MM/yyy"}}</th>
      </tr>
      <tr>
        <th scope="row" style="width: 35%;">Subsequent Renew Passport No.</th>
        <th scope="col">{{applicant.SubsePassport}}</th>
      </tr>
      <tr>
        <th scope="row" style="width: 35%;">Subsequent Date of Issue</th>
        <th scope="col">{{applicant.SubsePassport_DtIssue | date : "dd/MM/yyy"}}</th>
      </tr>
      <tr>
        <th scope="row" style="width: 35%;">Subsequent Date of Expiry</th>
        <th scope="col">{{applicant.SubsePassport_DtExpiry | date : "dd/MM/yyy"}}</th>
      </tr>
      <tr>
        <th scope="row" style="width: 35%;">Seaman Book No.</th>
        <th scope="col">{{applicant.SeamanBookNo}}</th>
      </tr>
      <tr>
        <th scope="row" style="width: 35%;">Seaman Book Date of Issue</th>
        <th scope="col">{{applicant.SeamanBook_DtIssue | date : "dd/MM/yyy"}}</th>
      </tr>
      <tr>
        <th scope="row" style="width: 35%;">Seaman Book Date of Expiry</th>
        <th scope="col">{{applicant.SeamanBook_DtExpiry | date : "dd/MM/yyy"}}</th>
      </tr>
      <tr>
        <th scope="row" style="width: 35%;">Seaman Card No.</th>
        <th scope="col">{{applicant.SeamanCardNo}}</th>
      </tr>
      <tr>
        <th scope="row" style="width: 35%;">Seaman Card Date of Issue</th>
        <th scope="col">{{applicant.SeamanCard_DtIssue | date : "dd/MM/yyy"}}</th>
      </tr>
      <tr>
        <th scope="row" style="width: 35%;">Seaman Card Date of Expiry</th>
        <th scope="col">{{applicant.SeamanCard_DtExpiry | date : "dd/MM/yyy"}}</th>
      </tr>
      <tr>
        <th scope="row" style="width: 35%;">Country of Origin</th>
        <th scope="col">{{applicant.CountryOfOrigin}}</th>
      </tr>
      <tr>
        <th scope="row" style="width: 35%;">Marital Status</th>
        <th scope="col">{{applicant.MaritalStatus}}</th>
      </tr>
      <tr>
        <th scope="row" style="width: 35%;">Nationality</th>
        <th scope="col">{{applicant.Nationality}}</th>
      </tr>
      <tr>
        <th scope="row" style="width: 35%;">Race</th>
        <th scope="col">{{applicant.Race}}</th>
      </tr>
      <tr>
        <th scope="row" style="width: 35%;">Religion</th>
        <th scope="col">{{applicant.Religion}}</th>
      </tr>
      <tr>
        <th scope="row" style="width: 35%;">Permanent Address</th>
        <th scope="col">{{applicant.PermanentAddress}}, {{applicant.PermanentAddress2}}, {{applicant.PermanentAddress3}}</th>
      </tr>
      <tr>
        <th scope="row" style="width: 35%;">Permanent PostCode</th>
        <th scope="col">{{applicant.PPostCode}}</th>
      </tr>
      <tr>
        <th scope="row" style="width: 35%;">Permanent State</th>
        <th scope="col">{{applicant.PState}}</th>
      </tr>
      <tr>
        <th scope="row" style="width: 35%;">Permanent Country</th>
        <th scope="col">{{applicant.PCountry}}</th>
      </tr>
      <tr>
        <th scope="row" style="width: 35%;">Residential Address</th>
        <th scope="col">{{applicant.Residentialaddress}}, {{applicant.Residentialaddress2}}, {{applicant.Residentialaddress3}}</th>
      </tr>
      <tr>
        <th scope="row" style="width: 35%;">Residential PostCode</th>
        <th scope="col">{{applicant.RPostCode}}</th>
      </tr>
      <tr>
        <th scope="row" style="width: 35%;">Residential State</th>
        <th scope="col">{{applicant.RState}}</th>
      </tr>
      <tr>
        <th scope="row" style="width: 35%;">Residential Country</th>
        <th scope="col">{{applicant.RCountry}}</th>
      </tr>
      <tr>
        <th scope="row" style="width: 35%;">Contact (Mobile / Home)</th>
        <th scope="col">{{applicant.Contact_Mobile}}</th>
      </tr>
      <!-- <tr>
        <th scope="row" style="width: 35%;">Repatriation Home Port</th>
        <th scope="col">{{applicant.RepatriationHomePort}}</th>
      </tr> -->
      <!-- Added by Hakim on 2 Feb 2021 - Start -->
      <tr>
        <th scope="row" style="width: 35%;">Highest Education Level</th>
        <th scope="col">
          {{applicant.Education}}
          <br><br>
          <button nbButton status="basic" ngDefaultControl
          *ngIf="applicant.EducationFileName
          && applicant.EducationFileName.length > 0"
          [ngModel]="applicant.EducationFileName"
          (click)="viewFile(applicant.EducationFileName)">View</button>
        </th>
      </tr>
      <!-- Added by Hakim on 2 Feb 2021 - End -->
    </tbody>
  </table>
</div>

<div class="form-group" style="margin-top: 5%">
  <label><b>Next of Kin</b></label>
</div>
<div class="form-group">
  <table  class="table table-bordered" style="background-color: white;">
    <tbody>
      <tr>
        <th scope="col">No</th>
        <th scope="col">First Name</th>
        <th scope="col">Middle Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Relationship</th>
        <th scope="col">Gender</th>
        <th scope="col">Age</th>
        <th scope="col">Handicap</th>
        <th scope="col">Employment</th>
      </tr>
      <tr *ngFor="let kin of applicant.next_of_kin; let i=index">
        <td scope="col">{{i+1}}</td>
        <td scope="col">{{kin.NOKName}}</td>
        <td scope="col">{{kin.NOKMiddleName}}</td>
        <td scope="col">{{kin.NOKLastName}}</td>
        <td scope="col">{{kin.NOKRelationship}}</td>
        <td scope="col">{{kin.NOKGender}}</td>
        <td scope="col">{{kin.NOKAge}}</td>
        <td scope="col">{{kin.NOKHandicap}}</td>
        <td scope="col">{{kin.NOKEmployment}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="form-group" style="margin-top: 5%">
  <label><b>Emergency Contact</b></label>
</div>
<div class="form-group">
  <table  class="table table-bordered" style="background-color: white;">
    <tbody>
      <tr>
        <th scope="row" style="width: 35%;">Name</th>
        <td scope="col">{{applicant.EmergencyContactName}}</td>
      </tr>
      <tr>
        <th scope="row" style="width: 35%;">Middle Name</th>
        <td scope="col">{{applicant.EmergencyContactMiddleName}}</td>
      </tr>
      <tr>
        <th scope="row" style="width: 35%;">Last Name</th>
        <td scope="col">{{applicant.EmergencyContactLastName}}</td>
      </tr>
      <tr>
        <th scope="row" style="width: 35%;">Relationship</th>
        <td scope="col">{{applicant.EmergencyContactRelationship}}</td>
      </tr>
      <tr>
        <th scope="row" style="width: 35%;">Contact (House)</th>
        <td scope="col">{{applicant.EmergencyContact_HouseCtryCode}}-{{applicant.EmergencyContact_House}}</td>
      </tr>
      <tr>
        <th scope="row" style="width: 35%;">Contact (Mobile)</th>
        <td scope="col">{{applicant.EmergencyContact_MobileCtryCode}}-{{applicant.EmergencyContact_Mobile}}</td>
      </tr>
      <tr>
        <th scope="row" style="width: 35%;">Address</th>
        <td scope="col">{{applicant.EmergencyContact_Address}}, {{applicant.EmergencyContact_Address2}}, {{applicant.EmergencyContact_Address3}}</td>
      </tr>
      <tr>
        <th scope="row" style="width: 35%;">City</th>
        <td scope="col">{{applicant.EmergencyContact_City}}</td>
      </tr>
      <tr>
        <th scope="row" style="width: 35%;">Postcode</th>
        <td scope="col">{{applicant.EmergencyContact_Postcode}}</td>
      </tr>
      <tr>
        <th scope="row" style="width: 35%;">State</th>
        <td scope="col">{{applicant.EmergencyContact_State}}</td>
      </tr>
      <tr>
        <th scope="row" style="width: 35%;">Country</th>
        <td scope="col">{{applicant.EmergencyContact_Country}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="form-group" style="margin-top: 5%">
  <label><b>Employment Data</b></label>
</div>
<div class="form-group">
  <table  class="table table-bordered" style="background-color: white;">
    <tbody>
      <tr>
        <th scope="row" style="width: 35%;">Income Tax No.</th>
        <td scope="row">{{applicant.IncomeTaxNo}}</td>
      </tr>
      <tr>
        <th scope="row" style="width: 35%;">CV</th>
        <td scope="col">
          <button nbButton status="basic" ngDefaultControl
          *ngIf="applicant.FileNameCV
          && applicant.FileNameCV.length > 0"
          [ngModel]="applicant.FileNameCV"
          (click)="viewFile(applicant.FileNameCV)">View</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="form-group" style="margin-top: 5%">
  <label><b>SEA Experiences</b></label>
</div>
<div class="form-group">
  <table  class="table table-bordered" style="background-color: white;">
    <tbody>
      <tr>
        <th scope="col">Company</th>
        <th scope="col">Vessel</th>
        <th scope="col">Rank</th>
        <th scope="col">Period</th>
      </tr>
      <tr *ngFor="let exp of applicant.SEAExp; let i=index">
        <td scope="col">{{exp.Company}}</td>
        <td scope="col">{{exp.VesselName}}</td>
        <td scope="col">{{exp.ExpRank}}</td>
        <td scope="col">{{exp.ExpPeriod}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="form-group" style="margin-top: 5%">
  <label><b>References</b></label>
</div>
<div class="form-group">
  <table  class="table table-bordered" style="background-color: white;">
    <tbody>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Company</th>
        <th scope="col">Designation</th>
        <th scope="col">Contact No.</th>
      </tr>
      <tr *ngIf="applicant.Ref1Name != ''">
        <td scope="col">{{applicant.Ref1Name}}</td>
        <td scope="col">{{applicant.Ref1Company}}</td>
        <td scope="col">{{applicant.Ref1Designation}}</td>
        <td scope="col">{{applicant.Ref1Contact}}</td>
      </tr>
      <tr *ngIf="applicant.Ref2Name != ''">
        <td scope="col">{{applicant.Ref2Name}}</td>
        <td scope="col">{{applicant.Ref2Company}}</td>
        <td scope="col">{{applicant.Ref2Designation}}</td>
        <td scope="col">{{applicant.Ref2Contact}}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Added by Hakim on 2 Feb 2021 - Start -->
<div class="form-group" style="margin-top: 5%">
  <label><b>Medical Checkup Report</b></label>
</div>
<div class="form-group">
  <table  class="table table-bordered" style="background-color: white;">
    <thead>
      <tr>
        <th>Questions</th>
        <th>Answers</th>
        <th>Date of checkup</th>
        <th>Date of expiry</th>
      </tr>
    </thead>
    <tfoot>
      <tr *ngFor="let question of medicalReportQuestion; let i = index">
        <td>{{question.Question}}</td>
        <td *ngIf="medicalReportAnswer.length > 0">{{medicalReportAnswer[question.Id-1].Answer}}</td>
        <td *ngIf="medicalReportAnswer.length > 0">{{medicalReportAnswer[question.Id-1].AnsCheckupDt}}</td>
        <td *ngIf="medicalReportAnswer.length > 0">{{medicalReportAnswer[question.Id-1].AnsExpiryDt}}</td>
      </tr>
    </tfoot>
  </table>
</div>

<div class="form-group" style="margin-top: 5%">
  <label><b>Medical History</b></label>
</div>
<div class="form-group">
  <table  class="table table-bordered" style="background-color: white;">
    <thead>
      <tr>
        <th>Questions</th>
        <th>Answers</th>
        <th>Description</th>
      </tr>
    </thead>
    <tfoot>
      <tr *ngFor="let question of generalQuestion; let i = index">
        <ng-container *ngIf="question.Type == 2">
          <td>{{question.Question}}</td>
          <td *ngIf="generalAnswer.length > 0">{{generalAnswer[question.Id-1].Answer}}</td>
          <td *ngIf="generalAnswer.length > 0">{{generalAnswer[question.Id-1].Description}}</td>
        </ng-container>
      </tr>
    </tfoot>
  </table>
</div>

<div class="form-group" style="margin-top: 5%">
  <label><b>General</b></label>
</div>
<div class="form-group">
  <table  class="table table-bordered" style="background-color: white;">
    <thead>
      <tr>
        <th>Questions</th>
        <th>Answers</th>
        <th>Description</th>
      </tr>
    </thead>
    <tfoot>
      <tr *ngFor="let question of generalQuestion; let i = index">
        <ng-container *ngIf="question.Type == 1">
          <td>{{question.Question}}</td>
          <td *ngIf="generalAnswer.length > 0">{{generalAnswer[question.Id-1].Answer}}</td>
          <td *ngIf="generalAnswer.length > 0">{{generalAnswer[question.Id-1].Description}}</td>
        </ng-container>
      </tr>
    </tfoot>
  </table>
</div>

<!-- Added by Hakim on 2 Feb 2021 - End-->

<div class="form-group" style="margin-top: 5%">
  <label><b>Agreement Data</b></label>
</div>
<div class="form-group" *ngIf="applicant.ApplyStatus == 'New' || applicant.ApplyStatus == 'Review' || applicant.ReviseStatus == 1">
  <table  class="table table-bordered" style="background-color: white;">
    <tbody>
      <tr>
        <th scope="col">Employee ID</th>
        <th scope="row">{{applicant.EmpId}}</th>
      </tr>
      <tr>
        <th scope="col">Offer Position</th>
        <td scope="col">
          <select *ngIf="applicant.ReviseStatus == 1" #position class="custom-select mb-2 mr-sm-2" id="position" [(ngModel)]="applicant.OfferPositionID">
            <option selected value="19">Choose...</option>
            <option
              *ngFor="let position of positions; let i = index"
              value="{{ position.Id }}">
              {{ position.Position }}
            </option>
          </select>
          <select *ngIf="applicant.ReviseStatus == 0" #position class="custom-select mb-2 mr-sm-2" id="position" [(ngModel)]="applicant.ApplyPositionID">
            <option selected value="19">Choose...</option>
            <option
              *ngFor="let position of positions; let i = index"
              value="{{ position.Id }}">
              {{ position.Position }}
            </option>
          </select>
        </td>
      </tr>
      <!-- <tr>
        <th scope="col">Currency</th>
        <td scope="col">
          <select #currency class="custom-select mb-2 mr-sm-2" id="currency" [(ngModel)]="applicant.CurrencyID" (ngModelChange)="currencyOnChange($event)">
            <option selected value="19">Choose...</option>
            <option
              *ngFor="let currency of currencies; let i = index"
              value="{{currency.Id}}">
              {{ currency.Currency }}
            </option>
          </select>
        </td>
      </tr> -->
      <!-- <tr>
        <th scope="col">Salary</th>
        <td scope="col">
          <input type="text" class="form-control mb-2 mr-sm-2" id="salary" [(ngModel)]="applicant.Salary" />
        </td>
      </tr> -->
      <!-- <tr>
        <th scope="col">Daily Rate</th>
        <td scope="col">
          <input type="text" class="form-control mb-2 mr-sm-2" id="daily_rate" [(ngModel)]="applicant.DailyRate" />
        </td>
      </tr> -->
      <!-- <tr>
        <th scope="col">Standby Rate</th>
        <td scope="col">
          <select #allowance_type class="custom-select mb-2 mr-sm-2" id="standby_rate" [(ngModel)]="applicant.StandbyRate">
            <option
              *ngFor="let rate of standbyRates; let i = index"
              value="{{ rate.Id }}">
              {{ rate.Rate }}
            </option>
          </select>
        </td>
      </tr> -->
      <!-- <tr>
        <th scope="col">Other Applicable Allowance</th>
        <td scope="col">
          <select #allowance_type class="custom-select mb-2 mr-sm-2" id="allowance_type" [(ngModel)]="applicant.applicant_dropdown.AllowanceId">
            <option selected value="19">Choose...</option>
            <option
              *ngFor="let allowance of allowances; let i = index"
              value="{{ allowance.Id }}">
              {{ allowance.Allowance }}
            </option>
          </select>
        </td>
      </tr> -->
      <!-- <tr>
        <th scope="col">Other Allowance</th>
        <td scope="col">
          <input type="text" class="form-control mb-2 mr-sm-2" id="OtherAllowance" [(ngModel)]="applicant.OtherAllowance" />
        </td>
      </tr> -->
      <!-- <tr>
        <th scope="col">Allowance</th>
        <td scope="col">
          <input type="text" class="form-control mb-2 mr-sm-2" id="allowance_amount" [(ngModel)]="applicant.Allowance" />
        </td>
      </tr> -->
      <tr>
        <th scope="col">Contract Period (in Months)</th>
        <td scope="col">
          <input type="text" class="form-control mb-2 mr-sm-2" id="contract_period" [(ngModel)]="applicant.ContractPeriodFromInMth" (ngModelChange)="contractPeriodFromInMthOnChange($event)" />
        </td>
      </tr>
      <tr>
        <th scope="col">Contract Period From</th>
        <td scope="col">
          <input class="form-control mb-2 mr-sm-2" type="date"
          [ngModel]="applicant.ContractPeriodFrom | date:'yyyy-MM-dd'"
          (ngModelChange)="contractPeriodFromOnChange($event)"
          id="contract_period_from" name="begin" value="applicant.ContractPeriodFrom">
          <!--<input id="contract_period_from" [nbDatepicker]="rangepicker" />
          <nb-rangepicker #rangepicker></nb-rangepicker>-->
        </td>
      </tr>
      <tr>
        <th scope="col">Contract Period To</th>
        <td scope="col">
          <input class="form-control mb-2 mr-sm-2" type="date"
          [ngModel]="applicant.ContractPeriodTo | date:'yyyy-MM-dd'"
          (ngModelChange)="contractPeriodToOnChange($event)"
          id="contract_period_to" name="begin" value="applicant.ContractPeriodTo">
          <!--<input id="contract_period_to" [nbDatepicker]="rangepicker" />
          <nb-rangepicker #rangepicker></nb-rangepicker>-->
        </td>
      </tr>
      <tr>
        <th scope="col">Name of Vessel</th>
        <td scope="col">
          <select #vessel_name class="custom-select mb-2 mr-sm-2" id="vessel_name" [(ngModel)]="applicant.applicant_dropdown.VesselId" (change)="vesselIdOnChange($event)">
            <option selected value="19">Choose...</option>
            <option
              *ngFor="let vessel of vessels; let i = index"
              value="{{ vessel.Id }}">
              {{ vessel.VesselName }}
            </option>
          </select>
        </td>
      </tr>
      <tr>
        <th scope="col">IMO No.</th>
        <td scope="col">
          <select #imono class="custom-select mb-2 mr-sm-2" id="imono" [(ngModel)]="applicant.applicant_dropdown.ImonoId">
            <option selected value="19">Choose...</option>
            <option
              *ngFor="let imono of imonos; let i = index"
              value="{{ imono.Id }}">
              {{ imono.IMONo }}
            </option>
          </select>
        </td>
      </tr>
      <tr>
        <th scope="col">Port of Registry</th>
        <td scope="col">
          <select #port class="custom-select mb-2 mr-sm-2" id="port_of_registry" [(ngModel)]="applicant.applicant_dropdown.PORId">
            <option selected value="19">Choose...</option>
            <option
              *ngFor="let port of portsOfRegistry; let i = index"
              value="{{ port.Id }}">
              {{ port.PortOfRegistry }}
            </option>
          </select>
        </td>
      </tr>
      <!-- Added by Hakim on 27 Jan 2021 - Start -->
      <tr>
        <th scope="col">Repatriation Home Port</th>
        <td>
          <input type="text" class="form-control mb-2 mr-sm-2" id="repatriation_port" [(ngModel)]="applicant.RepatriationHomePort" />
        </td>
      </tr>
      <!-- Added by Hakim on 27 Jan 2021 - End -->
      <tr>
        <th scope="col">Status</th>
        <td scope="col">
          <select #status class="custom-select mb-2 mr-sm-2" id="status" [(ngModel)]="applicant.applicant_dropdown.ApplyStatusId">
            <option selected value="19">Choose...</option>
            <option
              *ngFor="let status of applicantStatus; let i = index"
              value="{{ status.Id }}">
              {{ status.ApplicantStatus }}
            </option>
          </select>
        </td>
      </tr>
      <tr *ngIf="applicant.ApplyStatus != 'New' && applicant.ApplyStatus != 'Review' && applicant.ReviseStatus == 1">
        <th scope="col">Reason</th>
        <td>
          <input type="text" class="form-control mb-2 mr-sm-2" id="reason" [(ngModel)]="applicant.Reason" />
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="form-group" *ngIf="applicant.ApplyStatus != 'New' && applicant.ApplyStatus != 'Review' && applicant.ReviseStatus == 0">
  <table class="table table-bordered" style="background-color: white;">
    <tbody>
      <tr>
        <th scope="row" style="width: 35%;">Employee ID</th>
        <th scope="row">{{applicant.EmpId}}</th>
      </tr>
      <tr>
        <th scope="row">Offer Position</th>
        <th scope="row">{{applicant.OfferPosition}}</th>
      </tr>
      <tr>
        <th scope="row">Contract Period (in Months)</th>
        <th scope="row">{{applicant.ContractPeriodFromInMth}}</th>
      </tr>
      <tr>
        <th scope="row">Contract Period From</th>
        <th scope="row">{{applicant.ContractPeriodFrom | date:'yyyy-MM-dd'}}</th>
      </tr>
      <tr>
        <th scope="row">Contract Period To</th>
        <th scope="row">{{applicant.ContractPeriodTo | date:'yyyy-MM-dd'}}</th>
      </tr>
      <tr>
        <th scope="row">Name of Vessel</th>
        <th scope="row">{{applicant.NameofVessel}}</th>
      </tr>
      <tr>
        <th scope="row">IMO No.</th>
        <th scope="row">{{applicant.IMONo}}</th>
      </tr>
      <tr>
        <th scope="row">Port of Registry</th>
        <th scope="row">{{applicant.PortofRegistry}}</th>
      </tr>
      <tr>
        <th scope="row">Repatriation Home Port</th>
        <th scope="row">{{applicant.RepatriationHomePort}}</th>
      </tr>
      <tr>
        <th scope="row">Status</th>
        <th scope="row">{{applicant.ApplyStatus}}</th>
      </tr>
    </tbody>
  </table>
</div>

<!-- Added by Hakim on 25 Jan 2021 - Start -->
<div class="form-group" style="margin-top: 5%">
  <label><b>Salary Details</b></label>
</div>
<div class="form-group" *ngIf="applicant.ApplyStatus == 'New' || applicant.ApplyStatus == 'Review' || applicant.ReviseStatus == 1">
  <table  class="table table-bordered" style="background-color: white;">
    <tbody>
      <tr>
        <th scope="col">Currency</th>
        <td scope="col"></td>
        <td scope="col">
          <select #currency class="custom-select mb-2 mr-sm-2" id="currency" [(ngModel)]="applicant.CurrencyID" (ngModelChange)="currencyOnChange($event)">
            <option selected value="19">Choose...</option>
            <option
              *ngFor="let currency of currencies; let i = index"
              value="{{currency.Id}}">
              {{ currency.Currency }}/Day
            </option>
          </select>
        </td>
      </tr>
      <!-- Added by Hakim on 27 Jan 2021 - Start -->
      <!-- <tr>
        <th scope="col">Daily Rate</th>
        <td scope="col">
        </td>
        <td scope="col">
          <input type="text" class="form-control mb-2 mr-sm-2" id="amountConsolidated" [(ngModel)]="applicant.DailyRate"/>
        </td>
      </tr> -->
      <!-- Added by Hakim on 27 Jan 2021 - Start -->
      <tr>
        <th scope="col">Consolidated Salary</th>
        <td scope="col">
          <input type="text" class="form-control mb-2 mr-sm-2" id="remarksSalary" [(ngModel)]="applicant.SalaryRemarks" placeholder="Remarks Salary" />
        </td>
        <td scope="col">
          <input type="text" class="form-control mb-2 mr-sm-2" id="amountSalary" [(ngModel)]="applicant.Salary" placeholder="Amount Salary" />
        </td>
      </tr>
      <tr>
        <th scope="col">Allowance</th>
        <td scope="col">
          <select #allowance_type class="custom-select mb-2 mr-sm-2" id="allowance_type" [(ngModel)]="applicant.applicant_dropdown.AllowanceId">
            <option selected value="19">Choose...</option>
            <option
              *ngFor="let allowance of allowances; let i = index"
              value="{{ allowance.Id }}">
              {{ allowance.Allowance }}
            </option>
          </select>
        </td>
        <td scope="col">
          <input type="text" class="form-control mb-2 mr-sm-2" id="amountAllowance" [(ngModel)]="applicant.Allowance" placeholder="Amount Allowance" />
        </td>
      </tr>
      <tr>
        <th scope="col">Standby Allowance (if any)</th>
        <td scope="col">
          <select #allowance_type class="custom-select mb-2 mr-sm-2" id="standby_rate" [(ngModel)]="applicant.StandbyRate">
            <option
              *ngFor="let rate of standbyRates; let i = index"
              value="{{ rate.Id }}">
              {{ rate.Rate }}
            </option>
          </select>
        </td>
        <td scope="col">
          <input type="text" class="form-control mb-2 mr-sm-2" id="salary" [(ngModel)]="applicant.StandbyAllowance" />
        </td>
      </tr>
      <tr>
        <th scope="col">Others applicable allowance</th>
        <td scope="col">
          <input type="text" class="form-control mb-2 mr-sm-2" id="wagesAllowance" [(ngModel)]="applicant.AllowanceRemarks" placeholder="Remarks Allowance" />
        </td>
        <td scope="col">
          <input type="text" class="form-control mb-2 mr-sm-2" id="salary" [(ngModel)]="applicant.OtherAllowance" />
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="form-group" *ngIf="applicant.ApplyStatus != 'New' && applicant.ApplyStatus != 'Review' && applicant.ReviseStatus == 0">
  <table class="table table-bordered" style="background-color: white;">
    <tbody>
      <tr>
        <th scope="row" style="width: 35%;">Currency</th>
        <th scope="row"></th>
        <th scope="row">{{applicant.Currency}}/Day</th>
      </tr>
      <tr>
        <th scope="row">Consolidated Salary</th>
        <th scope="row">{{applicant.SalaryRemarks}}</th>
        <th scope="row">{{applicant.Salary}}</th>
      </tr>
      <tr>
        <th scope="row">Allowance	</th>
        <th scope="row">{{applicant.TypesofAllowance}}</th>
        <th scope="row">{{applicant.Allowance}}</th>
      </tr>
      <tr>
        <th scope="row">Standby Allowance (if any)</th>
        <th scope="row">{{applicant.StandbyRateName}}</th>
        <th scope="row">{{applicant.StandbyAllowance}}</th>
      </tr>
      <tr>
        <th scope="row">Others applicable allowance</th>
        <th scope="row">{{applicant.AllowanceRemarks}}</th>
        <th scope="row">{{applicant.OtherAllowance}}</th>
      </tr>
    </tbody>
  </table>
</div>
<!-- Added by Hakim on 25 Jan 2021 - End -->

<div class="form-group" style="margin-top: 5%">
  <label><b>Revise History</b></label>
</div>
<div class="form-group">
  <table  class="table table-bordered" style="background-color: white;">
    <tbody>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Last Status</th>
        <th scope="col">New Status</th>
        <th scope="col">Reason</th>
        <th scope="col">Changed By</th>
        <th scope="col">Changed Date</th>
        <th scope="col">Action</th>
      </tr>
      <tr *ngFor="let tl of applicant.transferLog; let i=index">
        <td scope="col">{{i+1}}</td>
        <td scope="col">{{tl.OldStatus}}</td>
        <td scope="col">{{tl.Status}}</td>
        <td scope="col">{{tl.Reason}}</td>
        <td scope="col">{{tl.AdminName}}</td>
        <td scope="col">{{tl.DtCreated | date : "dd/MM/yyyy"}}</td>
        <td scope="col">
          <button nbButton ngDefaultControl (click)="viewRevise(tl)">View</button></td>
      </tr>
    </tbody>
  </table>
</div>

<!-- The Revise Modal -->
<div class="modal" id="reviseModal" [style.display]="showReviseModal ? 'block' : 'none'" style="overflow-y: auto;">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Revise History Details:</h4>
        <button type="button" class="close" data-dismiss="modal" (click) = "hideReviseModal()">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
        <span *ngFor="let rdd of ReviseDataDetail; let i=index">
          <p><strong>Agreement Data</strong></p>
          <table class="table table-bordered" style="background-color: white;">
            <tbody>
              <tr>
                <th scope="row">Offer Position</th>
                <th scope="row">{{rdd.OfferPosition}}</th>
              </tr>
              <tr>
                <th scope="row">Contract Period (in Months)</th>
                <th scope="row">{{rdd.ContractPeriodFromInMth}}</th>
              </tr>
              <tr>
                <th scope="row">Contract Period From</th>
                <th scope="row">{{rdd.ContractPeriodFrom | date:'yyyy-MM-dd'}}</th>
              </tr>
              <tr>
                <th scope="row">Contract Period To</th>
                <th scope="row">{{rdd.ContractPeriodTo | date:'yyyy-MM-dd'}}</th>
              </tr>
              <tr>
                <th scope="row">Name of Vessel</th>
                <th scope="row">{{rdd.NameofVessel}}</th>
              </tr>
              <tr>
                <th scope="row">IMO No.</th>
                <th scope="row">{{rdd.IMONo}}</th>
              </tr>
              <tr>
                <th scope="row">Port of Registry</th>
                <th scope="row">{{rdd.PortofRegistry}}</th>
              </tr>
              <tr>
                <th scope="row">Repatriation Home Port</th>
                <th scope="row">{{rdd.RepatriationHomePort}}</th>
              </tr>
              <tr>
                <th scope="row">Last Status</th>
                <th scope="row">{{rdd.OldStatus}}</th>
              </tr>
            </tbody>
          </table>
          <p><strong>Salary Details</strong></p>
          <table class="table table-bordered" style="background-color: white;">
            <tbody>
              <tr>
                <th scope="row" style="width: 35%;">Currency</th>
                <th scope="row"></th>
                <th scope="row">{{rdd.Currency}}/Day</th>
              </tr>
              <tr>
                <th scope="row">Consolidated Salary</th>
                <th scope="row">{{rdd.SalaryRemarks}}</th>
                <th scope="row">{{rdd.Salary}}</th>
              </tr>
              <tr>
                <th scope="row">Allowance	</th>
                <th scope="row">{{rdd.TypesofAllowance}}</th>
                <th scope="row">{{rdd.Allowance}}</th>
              </tr>
              <tr>
                <th scope="row">Standby Allowance (if any)</th>
                <th scope="row">{{rdd.StandbyRate}}</th>
                <th scope="row">{{rdd.StandbyAllowance}}</th>
              </tr>
              <tr>
                <th scope="row">Others applicable allowance</th>
                <th scope="row">{{rdd.AllowanceRemarks}}</th>
                <th scope="row">{{rdd.OtherAllowance}}</th>
              </tr>
            </tbody>
          </table>
        </span>
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click) = "hideReviseModal()">Close</button>
      </div>
      
    </div>
  </div>
</div>

<div class="form-group" style="margin-top: 5%">
  <label *ngIf="applicant.ApplyStatus != 'Rejected'"><b>Approver Details</b></label>
  <label *ngIf="applicant.ApplyStatus == 'Rejected'"><b>Rejecter Details</b></label>
</div>
<div class="form-group">
  <table class="table table-bordered" style="background-color: white;">
    <tbody>
      <tr>
        <th *ngIf="applicant.ApplyStatus != 'Rejected'" scope="row" style="width: 35%;">Approve By</th>
        <th *ngIf="applicant.ApplyStatus == 'Rejected'" scope="row" style="width: 35%;">Reject By</th>
        <th scope="row">{{applicant.ConfirmByName}}</th>
      </tr>
      <tr>
        <th *ngIf="applicant.ApplyStatus != 'Rejected'" scope="row">Approve Date</th>
        <th *ngIf="applicant.ApplyStatus == 'Rejected'" scope="row">Reject Date</th>
        <th scope="row">{{applicant.ConfirmDt | date : "dd/MM/yyy"}}</th>
      </tr>
    </tbody>
  </table>
</div>

<div class="row" style="margin-top: 5%" *ngIf="applicant.ReviseStatus == 0">
  <div class="col" *ngIf="applicant.ApplyStatus != 'Offered' && applicant.ApplyStatus != 'Terminated' && applicant.ApplyStatus != 'Rejected'"></div>
  <div class="col" *ngIf="applicant.ApplyStatus != 'Offered' && applicant.ApplyStatus != 'Terminated' && applicant.ApplyStatus != 'Rejected' && applicant.ApplyStatus != 'Accepted'">
    <button id="btnUpdate" class="ml-2" nbButton status="primary" (click)="onUpdate($event)">Update</button>
  </div>
  <div class="col" *ngIf="applicant.ApplyStatus != 'Offered' && applicant.ApplyStatus != 'Terminated' && applicant.ApplyStatus != 'Accepted' && applicant.ApplyStatus != 'Rejected'">
    <button id="btnConfirm" class="ml-2" nbButton status="primary" (click)="getSignature($event)">Confirm</button>
  </div>
  <div class="col" *ngIf="applicant.ApplyStatus == 'Offered' && applicant.ConfirmByName == null">
    <button class="ml-2" nbButton status="primary" (click)="getSignature($event)">Reconfirm</button>
  </div>
  <div class="col" *ngIf="applicant.ApplyStatus == 'Offered' && applicant.ConfirmByName != null">
    <button *ngIf="applicant.EmailSent == 0" class="ml-2" nbButton status="primary" (click)="onSendEmail($event)">Send Email</button>
    <button *ngIf="applicant.EmailSent > 0" class="ml-2" nbButton status="primary" (click)="onSendEmail($event)">Resend Email</button>
  </div>
  <div class="col" *ngIf="applicant.ApplyStatus == 'Offered' || applicant.ApplyStatus == 'Rejected' || applicant.ApplyStatus == 'Crew-Rejected' || applicant.ApplyStatus == 'Terminated' || applicant.ApplyStatus == 'Accepted'">
    <button class="ml-2" nbButton status="primary" (click)="onRevise($event)">Revise</button>
  </div>
  <div class="col">
    <button id="btnCancel" class="ml-2" nbButton status="primary" (click)="onCancel($event)">Cancel</button>
  </div>
  <div class="col" *ngIf="applicant.ApplyStatus != 'Offered'"></div>
</div>

<div class="row" style="margin-top: 5%" *ngIf="applicant.ReviseStatus == 1">
  <div class="col" *ngIf="applicant.ApplyStatus == 'Offered' || applicant.ApplyStatus == 'Rejected' || applicant.ApplyStatus == 'Crew-Rejected' || applicant.ApplyStatus == 'Terminated' || applicant.ApplyStatus == 'Accepted'">
    <button class="ml-2" nbButton status="primary" (click)="onReoffer($event)">Re-offer</button>
  </div>
  <div class="col" *ngIf="applicant.ApplyStatus == 'Offered' || applicant.ApplyStatus == 'Rejected' || applicant.ApplyStatus == 'Crew-Rejected' || applicant.ApplyStatus == 'Terminated' || applicant.ApplyStatus == 'Accepted'">
    <button class="ml-2" nbButton status="primary" (click)="onExtendTransfer($event)">Extend/Transfer</button>
  </div>
  <div class="col" *ngIf="applicant.ApplyStatus == 'Offered' || applicant.ApplyStatus == 'Rejected' || applicant.ApplyStatus == 'Crew-Rejected' || applicant.ApplyStatus == 'Terminated' || applicant.ApplyStatus == 'Accepted'">
    <button class="ml-2" nbButton status="primary" (click)="onTerminate($event)">Terminate</button>
  </div>
  <div class="col">
    <button id="btnCancel" class="ml-2" nbButton status="primary" (click)="onCancelRevise($event)">Cancel</button>
  </div>
  <div class="col" *ngIf="applicant.ApplyStatus != 'Offered'"></div>
</div>
